In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import folium

# Data Analysis and Visualization

In this notebook, we will analyse the produced dataset to compare rainfall in London and Apulia region and visualize the measurements. 

We will start with yearly precipitation, considering the mean computed for all points in the grid as well as comparing the mean for london with all the grid point for Apulia.

In [54]:
london_yearly_mean = pd.read_parquet('./data/data_london_yearly_mean.parquet')
puglia_yearly_mean = pd.read_parquet('./data/data_puglia_yearly_mean.parquet')

In [ ]:
london_yearly_mean = london_yearly_mean[london_yearly_mean['year'] > london_yearly_mean['year'].min()]
puglia_yearly_mean = puglia_yearly_mean[puglia_yearly_mean['year'] > puglia_yearly_mean['year'].min()]

   year  yearly_tp_mm
1  2018    805.600000
2  2019    662.272316
3  2020    548.466102
4  2021    565.961017
5  2022    597.719209
6  2023    623.664972
7  2024    510.405085
8  2025    304.990960

In [6]:
london_yearly_mean = london_yearly_mean[london_yearly_mean['year'] > 2017]
london_yearly_mean

   year  yearly_tp_mm
1  2018    620.941667
2  2019    789.633333
3  2020    717.041667
4  2021    855.466667
5  2022    659.316667
6  2023    781.125000
7  2024    832.166667
8  2025    232.900000

The first visualization in the streamlit app, will be the global comparison, year by year, of total mean precipitation for 12 points in the grid of London and 177 points in Apulia. We will also consider the min and max value for the point in the grid.

In [32]:
london_yearly_points = pd.read_parquet('./data/data_london_yearly_sum_all_points.parquet')
london_yearly_points = london_yearly_points[london_yearly_points['year'] > 2017].copy()

puglia_yearly_points =pd.read_parquet('./data/data_puglia_yearly_sum_all_points.parquet')
puglia_yearly_points = puglia_yearly_points[puglia_yearly_points['year'] > 2017].copy()

In [33]:
def location_year_min_max(df, year = 2018):
    df_year = df[df['year'] == year]

    tp_min = df_year[df_year['yearly_tp_mm'] == df_year['yearly_tp_mm'].min()]['yearly_tp_mm'].values[0]
    lat_min = df_year[df_year['yearly_tp_mm'] == df_year['yearly_tp_mm'].min()]['latitude'].values[0]
    lon_min = df_year[df_year['yearly_tp_mm'] == df_year['yearly_tp_mm'].min()]['longitude'].values[0]

    tp_max = df_year[df_year['yearly_tp_mm'] == df_year['yearly_tp_mm'].max()]['yearly_tp_mm'].values[0]
    lat_max = df_year[df_year['yearly_tp_mm'] == df_year['yearly_tp_mm'].max()]['latitude'].values[0]
    lon_max = df_year[df_year['yearly_tp_mm'] == df_year['yearly_tp_mm'].max()]['longitude'].values[0]

    min = (tp_min, lat_min, lon_min)
    max = (tp_max, lat_max, lon_max)

    return min, max

In [42]:
year = 2019

min, max = location_year_min_max(london_yearly_points, year)