In [2]:
import pandas as pd
import numpy as np

from src.manage_grib_files import process_london_precipitation_data, process_my_data

In [9]:
out_file = "london_era5land_hourly_tp_2019"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\nğŸ‰ Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df = process_my_data(ds, "2019_london_era5_precipitation")

ğŸŒ§ï¸  Processing London Precipitation Data
==================================================
ğŸ“¦ Extracting ZIP file: london_era5land_hourly_tp_2019.grib
ğŸ“‹ Files in archive: ['data.grib']
âœ… Extracted to: .
ğŸ¯ Found GRIB file: data.grib
ğŸ“Š Loading GRIB file: data.grib
ğŸ”„ Trying cfgrib...

c:\ProgramData\anaconda3\Lib\site-packages\cfgrib\xarray_plugin.py:131: FutureWarning: In a future version, xarray will not decode timedelta values based on the presence of a timedelta-like units attribute by default. Instead it will rely on the presence of a timedelta64 dtype attribute, which is now xarray's default way of encoding timedelta64 values. To continue decoding timedeltas based on the presence of a timedelta-like units attribute, users will need to explicitly opt-in by passing True or CFTimedeltaCoder(decode_via_units=True) to decode_timedelta. To silence this warning, set decode_timedelta to True, False, or a 'CFTimedeltaCoder' instance.
  vars, attrs, coord_names = xr.conventions.decode_cf_variables(
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:131: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"ğŸ“ Dataset dimensions: {dict(ds.dims)}")
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:260: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"ğŸ“ Dimensions: {dict(ds.dims)}")

âœ… Success with cfgrib!
ğŸ“ Dataset dimensions: {'time': 366, 'step': 24, 'latitude': 3, 'longitude': 4}
ğŸ“Š Variables: ['tp']

ğŸ“ˆ Data Summary:
==============================
ğŸ—ºï¸  Coordinates:
   number: 0
   time: 2018-12-31T00:00:00.000000000 to 2019-12-31T00:00:00.000000000 (366 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: 51.4 to 51.6 (3 points)
   longitude: -0.2 to 0.1 (4 points)
   valid_time: 2018-12-31T01:00:00.000000000 to 2020-01-01T00:00:00.000000000 (8784 points)

ğŸ“Š Data Variables:
   tp: ('time', 'step', 'latitude', 'longitude') - Total precipitation
      Units: m

ğŸ‰ Success! Dataset loaded successfully.

To work with your data:
1. Use ds[variable_name] to access variables
2. Use ds.sel() or ds.isel() to select data
3. Use ds.plot() for quick visualizations
ğŸŒ§ï¸  Processing Your London Precipitation Data
==================================================
ğŸ” Dataset Structure Analysis
========================================
ğŸ“ Dimensions: {'time': 366, 'step': 24, 'latitude': 3, 'longitude': 4}
ğŸ“Š Variables: ['tp']
ğŸ—ºï¸  Coordinates: ['number', 'time', 'step', 'surface', 'latitude', 'longitude', 'valid_time']

ğŸ“ Coordinate Details:
   number: 0
   time: 2018-12-31T00:00:00.000000000 to 2019-12-31T00:00:00.000000000 (366 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: [51.6 51.5 51.4]
   longitude: [-2.00000000e-01 -1.00000000e-01  2.77555756e-17  1.00000000e-01]
   valid_time: ['2018-12-31T01:00:00.000000000' '2018-12-31T02:00:00.000000000'
 '2018-12-31T03:00:00.000000000' '2018-12-31T04:00:00.000000000'
 '2018-12-31T05:00:00.000000000' '2018-12-31T06:00:00.000000000'
 '2018-12-31T07:00:00.000000000' '2018-12-31T08:00:00.000000000'
 '2018-12-31T09:00:00.000000000' '2018-12-31T10:00:00.000000000'
 '2018-12-31T11:00:00.000000000' '2018-12-31T12:00:00.000000000'
 '2018-12-31T13:00:00.000000000' '2018-12-31T14:00:00.000000000'
 '2018-12-31T15:00:00.000000000' '2018-12-31T16:00:00.000000000'
 '2018-12-31T17:00:00.000000000' '2018-12-31T18:00:00.000000000'
 '2018-12-31T19:00:00.000000000' '2018-12-31T20:00:00.000000000'
 '2018-12-31T21:00:00.000000000' '2018-12-31T22:00:00.000000000'
 '2018-12-31T23:00:00.000000000' '2019-01-01T00:00:00.000000000'] to ['2019-12-31T01:00:00.000000000' '2019-12-31T02:00:00.000000000'
 '2019-12-31T03:00:00.000000000' '2019-12-31T04:00:00.000000000'
 '2019-12-31T05:00:00.000000000' '2019-12-31T06:00:00.000000000'
 '2019-12-31T07:00:00.000000000' '2019-12-31T08:00:00.000000000'
 '2019-12-31T09:00:00.000000000' '2019-12-31T10:00:00.000000000'
 '2019-12-31T11:00:00.000000000' '2019-12-31T12:00:00.000000000'
 '2019-12-31T13:00:00.000000000' '2019-12-31T14:00:00.000000000'
 '2019-12-31T15:00:00.000000000' '2019-12-31T16:00:00.000000000'
 '2019-12-31T17:00:00.000000000' '2019-12-31T18:00:00.000000000'
 '2019-12-31T19:00:00.000000000' '2019-12-31T20:00:00.000000000'
 '2019-12-31T21:00:00.000000000' '2019-12-31T22:00:00.000000000'
 '2019-12-31T23:00:00.000000000' '2020-01-01T00:00:00.000000000'] (8784 points)

ğŸ“Š Variable Details:
   tp:
      Shape: (366, 24, 3, 4)
      Dimensions: ('time', 'step', 'latitude', 'longitude')
      Units: m
      Description: Total precipitation
      Data range: 0.0 to 0.030677393078804016

==================================================
ğŸš€ Creating multiple CSV formats...
========================================
ğŸ“Š Converting to Long Format DataFrame...
âœ… Created DataFrame with 105120 rows and 8 columns
ğŸ“Š Columns: ['time', 'step', 'latitude', 'longitude', 'number', 'surface', 'valid_time', 'tp']
ğŸ’¾ Saving DataFrame to: 2019_london_era5_precipitation_long_format.csv
âœ… Saved successfully! File size: 8.39 MB
ğŸ“Š Long format sample:
          time   step  latitude     longitude  number  surface valid_time  \
276 2018-12-31 1 days      51.6 -2.000000e-01       0      0.0 2019-01-01
277 2018-12-31 1 days      51.6 -1.000000e-01       0      0.0 2019-01-01
278 2018-12-31 1 days      51.6  2.775558e-17       0      0.0 2019-01-01
279 2018-12-31 1 days      51.6  1.000000e-01       0      0.0 2019-01-01
280 2018-12-31 1 days      51.5 -2.000000e-01       0      0.0 2019-01-01

           tp
276  0.000163
277  0.000167
278  0.000168
279  0.000174
280  0.000188

ğŸ“ˆ Converting to Time Series DataFrame (spatial aggregation: mean)...
   Aggregated 2 spatial dimensions using mean
âœ… Created time series DataFrame with 8760 rows and 5 columns
ğŸ’¾ Saving DataFrame to: 2019_london_era5_precipitation_time_series.csv
âœ… Saved successfully! File size: 0.46 MB
ğŸ“ˆ Time series sample:
                      step  number  surface          valid_time        tp
time
2018-12-31 1 days 00:00:00       0      0.0 2019-01-01 00:00:00  0.000194
2019-01-01 0 days 01:00:00       0      0.0 2019-01-01 01:00:00  0.000001
2019-01-01 0 days 02:00:00       0      0.0 2019-01-01 02:00:00  0.000001
2019-01-01 0 days 03:00:00       0      0.0 2019-01-01 03:00:00  0.000001
2019-01-01 0 days 04:00:00       0      0.0 2019-01-01 04:00:00  0.000001

ğŸ—ºï¸  Converting to Spatial DataFrame (time aggregation: mean)...
   Aggregated time dimension using mean
âœ… Created spatial DataFrame with 288 rows and 6 columns
ğŸ’¾ Saving DataFrame to: 2019_london_era5_precipitation_spatial_average.csv
âœ… Saved successfully! File size: 0.02 MB
ğŸ—ºï¸  Spatial average sample:
             step  latitude     longitude  number  surface        tp
0 0 days 01:00:00      51.6 -2.000000e-01       0      0.0  0.000086
1 0 days 01:00:00      51.6 -1.000000e-01       0      0.0  0.000084
2 0 days 01:00:00      51.6  2.775558e-17       0      0.0  0.000082
3 0 days 01:00:00      51.6  1.000000e-01       0      0.0  0.000082
4 0 days 01:00:00      51.5 -2.000000e-01       0      0.0  0.000087


ğŸ‰ Processing complete! Created 3 files:
   ğŸ“„ long_format: 2019_london_era5_precipitation_long_format.csv
   ğŸ“„ time_series: 2019_london_era5_precipitation_time_series.csv
   ğŸ“„ spatial_average: 2019_london_era5_precipitation_spatial_average.csv

ğŸ’¡ Returning long format DataFrame with 105120 rows

In [9]:
# puglia_era5land_hourly_tp_2021

out_file = "puglia_era5land_hourly_tp_2021"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\nğŸ‰ Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df_2021 = process_my_data(ds, "2021_puglia_era5_precipitation")

ğŸŒ§ï¸  Processing London Precipitation Data
==================================================
ğŸ“¦ Extracting ZIP file: puglia_era5land_hourly_tp_2021.grib
ğŸ“‹ Files in archive: ['data.grib']
âœ… Extracted to: .
ğŸ¯ Found GRIB file: data.grib
ğŸ“Š Loading GRIB file: data.grib
ğŸ”„ Trying cfgrib...

c:\ProgramData\anaconda3\Lib\site-packages\cfgrib\xarray_plugin.py:131: FutureWarning: In a future version, xarray will not decode timedelta values based on the presence of a timedelta-like units attribute by default. Instead it will rely on the presence of a timedelta64 dtype attribute, which is now xarray's default way of encoding timedelta64 values. To continue decoding timedeltas based on the presence of a timedelta-like units attribute, users will need to explicitly opt-in by passing True or CFTimedeltaCoder(decode_via_units=True) to decode_timedelta. To silence this warning, set decode_timedelta to True, False, or a 'CFTimedeltaCoder' instance.
  vars, attrs, coord_names = xr.conventions.decode_cf_variables(
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:131: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"ğŸ“ Dataset dimensions: {dict(ds.dims)}")
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:260: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"ğŸ“ Dimensions: {dict(ds.dims)}")

âœ… Success with cfgrib!
ğŸ“ Dataset dimensions: {'time': 366, 'step': 24, 'latitude': 18, 'longitude': 33}
ğŸ“Š Variables: ['tp']

ğŸ“ˆ Data Summary:
==============================
ğŸ—ºï¸  Coordinates:
   number: 0
   time: 2020-12-31T00:00:00.000000000 to 2021-12-31T00:00:00.000000000 (366 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: 40.2 to 41.9 (18 points)
   longitude: 15.3 to 18.5 (33 points)
   valid_time: 2020-12-31T01:00:00.000000000 to 2022-01-01T00:00:00.000000000 (8784 points)

ğŸ“Š Data Variables:
   tp: ('time', 'step', 'latitude', 'longitude') - Total precipitation
      Units: m

ğŸ‰ Success! Dataset loaded successfully.

To work with your data:
1. Use ds[variable_name] to access variables
2. Use ds.sel() or ds.isel() to select data
3. Use ds.plot() for quick visualizations
ğŸŒ§ï¸  Processing Your London Precipitation Data
==================================================
ğŸ” Dataset Structure Analysis
========================================
ğŸ“ Dimensions: {'time': 366, 'step': 24, 'latitude': 18, 'longitude': 33}
ğŸ“Š Variables: ['tp']
ğŸ—ºï¸  Coordinates: ['number', 'time', 'step', 'surface', 'latitude', 'longitude', 'valid_time']

ğŸ“ Coordinate Details:
   number: 0
   time: 2020-12-31T00:00:00.000000000 to 2021-12-31T00:00:00.000000000 (366 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: 41.9 to 40.2 (18 points)
   longitude: 15.3 to 18.5 (33 points)
   valid_time: ['2020-12-31T01:00:00.000000000' '2020-12-31T02:00:00.000000000'
 '2020-12-31T03:00:00.000000000' '2020-12-31T04:00:00.000000000'
 '2020-12-31T05:00:00.000000000' '2020-12-31T06:00:00.000000000'
 '2020-12-31T07:00:00.000000000' '2020-12-31T08:00:00.000000000'
 '2020-12-31T09:00:00.000000000' '2020-12-31T10:00:00.000000000'
 '2020-12-31T11:00:00.000000000' '2020-12-31T12:00:00.000000000'
 '2020-12-31T13:00:00.000000000' '2020-12-31T14:00:00.000000000'
 '2020-12-31T15:00:00.000000000' '2020-12-31T16:00:00.000000000'
 '2020-12-31T17:00:00.000000000' '2020-12-31T18:00:00.000000000'
 '2020-12-31T19:00:00.000000000' '2020-12-31T20:00:00.000000000'
 '2020-12-31T21:00:00.000000000' '2020-12-31T22:00:00.000000000'
 '2020-12-31T23:00:00.000000000' '2021-01-01T00:00:00.000000000'] to ['2021-12-31T01:00:00.000000000' '2021-12-31T02:00:00.000000000'
 '2021-12-31T03:00:00.000000000' '2021-12-31T04:00:00.000000000'
 '2021-12-31T05:00:00.000000000' '2021-12-31T06:00:00.000000000'
 '2021-12-31T07:00:00.000000000' '2021-12-31T08:00:00.000000000'
 '2021-12-31T09:00:00.000000000' '2021-12-31T10:00:00.000000000'
 '2021-12-31T11:00:00.000000000' '2021-12-31T12:00:00.000000000'
 '2021-12-31T13:00:00.000000000' '2021-12-31T14:00:00.000000000'
 '2021-12-31T15:00:00.000000000' '2021-12-31T16:00:00.000000000'
 '2021-12-31T17:00:00.000000000' '2021-12-31T18:00:00.000000000'
 '2021-12-31T19:00:00.000000000' '2021-12-31T20:00:00.000000000'
 '2021-12-31T21:00:00.000000000' '2021-12-31T22:00:00.000000000'
 '2021-12-31T23:00:00.000000000' '2022-01-01T00:00:00.000000000'] (8784 points)

ğŸ“Š Variable Details:
   tp:
      Shape: (366, 24, 18, 33)
      Dimensions: ('time', 'step', 'latitude', 'longitude')
      Units: m
      Description: Total precipitation
      Data range: 0.0 to 0.05211973190307617

==================================================
ğŸš€ Creating multiple CSV formats...
========================================
ğŸ“Š Converting to Long Format DataFrame...
âœ… Created DataFrame with 2680560 rows and 8 columns
ğŸ“Š Columns: ['time', 'step', 'latitude', 'longitude', 'number', 'surface', 'valid_time', 'tp']
ğŸ’¾ Saving DataFrame to: 2021_puglia_era5_precipitation_long_format.csv
âœ… Saved successfully! File size: 243.05 MB
ğŸ“Š Long format sample:
            time   step  latitude  longitude  number  surface valid_time  \
13663 2020-12-31 1 days      41.9       15.4       0      0.0 2021-01-01
13664 2020-12-31 1 days      41.9       15.5       0      0.0 2021-01-01
13667 2020-12-31 1 days      41.9       15.8       0      0.0 2021-01-01
13668 2020-12-31 1 days      41.9       15.9       0      0.0 2021-01-01
13669 2020-12-31 1 days      41.9       16.0       0      0.0 2021-01-01

             tp
13663  0.002429
13664  0.002445
13667  0.004885
13668  0.004713
13669  0.005022

ğŸ“ˆ Converting to Time Series DataFrame (spatial aggregation: mean)...
   Aggregated 2 spatial dimensions using mean
âœ… Created time series DataFrame with 8760 rows and 5 columns
ğŸ’¾ Saving DataFrame to: 2021_puglia_era5_precipitation_time_series.csv
âœ… Saved successfully! File size: 0.46 MB
ğŸ“ˆ Time series sample:
                      step  number  surface          valid_time        tp
time
2020-12-31 1 days 00:00:00       0      0.0 2021-01-01 00:00:00  0.000777
2021-01-01 0 days 01:00:00       0      0.0 2021-01-01 01:00:00  0.000003
2021-01-01 0 days 02:00:00       0      0.0 2021-01-01 02:00:00  0.000005
2021-01-01 0 days 03:00:00       0      0.0 2021-01-01 03:00:00  0.000007
2021-01-01 0 days 04:00:00       0      0.0 2021-01-01 04:00:00  0.000008

ğŸ—ºï¸  Converting to Spatial DataFrame (time aggregation: mean)...
   Aggregated time dimension using mean
âœ… Created spatial DataFrame with 7344 rows and 6 columns
ğŸ’¾ Saving DataFrame to: 2021_puglia_era5_precipitation_spatial_average.csv
âœ… Saved successfully! File size: 0.47 MB
ğŸ—ºï¸  Spatial average sample:
             step  latitude  longitude  number  surface        tp
1 0 days 01:00:00      41.9       15.4       0      0.0  0.000060
2 0 days 01:00:00      41.9       15.5       0      0.0  0.000065
5 0 days 01:00:00      41.9       15.8       0      0.0  0.000081
6 0 days 01:00:00      41.9       15.9       0      0.0  0.000079
7 0 days 01:00:00      41.9       16.0       0      0.0  0.000077


ğŸ‰ Processing complete! Created 3 files:
   ğŸ“„ long_format: 2021_puglia_era5_precipitation_long_format.csv
   ğŸ“„ time_series: 2021_puglia_era5_precipitation_time_series.csv
   ğŸ“„ spatial_average: 2021_puglia_era5_precipitation_spatial_average.csv

ğŸ’¡ Returning long format DataFrame with 2680560 rows

In [8]:
out_file = "puglia_era5land_hourly_tp_2022"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\nğŸ‰ Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df_2022 = process_my_data(ds, "2022_puglia_era5_precipitation")

ğŸŒ§ï¸  Processing London Precipitation Data
==================================================
ğŸ“¦ Extracting ZIP file: puglia_era5land_hourly_tp_2022.grib
ğŸ“‹ Files in archive: ['data.grib']
âœ… Extracted to: .
ğŸ¯ Found GRIB file: data.grib
ğŸ“Š Loading GRIB file: data.grib
ğŸ”„ Trying cfgrib...

c:\ProgramData\anaconda3\Lib\site-packages\cfgrib\xarray_plugin.py:131: FutureWarning: In a future version, xarray will not decode timedelta values based on the presence of a timedelta-like units attribute by default. Instead it will rely on the presence of a timedelta64 dtype attribute, which is now xarray's default way of encoding timedelta64 values. To continue decoding timedeltas based on the presence of a timedelta-like units attribute, users will need to explicitly opt-in by passing True or CFTimedeltaCoder(decode_via_units=True) to decode_timedelta. To silence this warning, set decode_timedelta to True, False, or a 'CFTimedeltaCoder' instance.
  vars, attrs, coord_names = xr.conventions.decode_cf_variables(
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:131: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"ğŸ“ Dataset dimensions: {dict(ds.dims)}")
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:260: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"ğŸ“ Dimensions: {dict(ds.dims)}")

âœ… Success with cfgrib!
ğŸ“ Dataset dimensions: {'time': 366, 'step': 24, 'latitude': 18, 'longitude': 33}
ğŸ“Š Variables: ['tp']

ğŸ“ˆ Data Summary:
==============================
ğŸ—ºï¸  Coordinates:
   number: 0
   time: 2021-12-31T00:00:00.000000000 to 2022-12-31T00:00:00.000000000 (366 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: 40.2 to 41.9 (18 points)
   longitude: 15.3 to 18.5 (33 points)
   valid_time: 2021-12-31T01:00:00.000000000 to 2023-01-01T00:00:00.000000000 (8784 points)

ğŸ“Š Data Variables:
   tp: ('time', 'step', 'latitude', 'longitude') - Total precipitation
      Units: m

ğŸ‰ Success! Dataset loaded successfully.

To work with your data:
1. Use ds[variable_name] to access variables
2. Use ds.sel() or ds.isel() to select data
3. Use ds.plot() for quick visualizations
ğŸŒ§ï¸  Processing Your London Precipitation Data
==================================================
ğŸ” Dataset Structure Analysis
========================================
ğŸ“ Dimensions: {'time': 366, 'step': 24, 'latitude': 18, 'longitude': 33}
ğŸ“Š Variables: ['tp']
ğŸ—ºï¸  Coordinates: ['number', 'time', 'step', 'surface', 'latitude', 'longitude', 'valid_time']

ğŸ“ Coordinate Details:
   number: 0
   time: 2021-12-31T00:00:00.000000000 to 2022-12-31T00:00:00.000000000 (366 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: 41.9 to 40.2 (18 points)
   longitude: 15.3 to 18.5 (33 points)
   valid_time: ['2021-12-31T01:00:00.000000000' '2021-12-31T02:00:00.000000000'
 '2021-12-31T03:00:00.000000000' '2021-12-31T04:00:00.000000000'
 '2021-12-31T05:00:00.000000000' '2021-12-31T06:00:00.000000000'
 '2021-12-31T07:00:00.000000000' '2021-12-31T08:00:00.000000000'
 '2021-12-31T09:00:00.000000000' '2021-12-31T10:00:00.000000000'
 '2021-12-31T11:00:00.000000000' '2021-12-31T12:00:00.000000000'
 '2021-12-31T13:00:00.000000000' '2021-12-31T14:00:00.000000000'
 '2021-12-31T15:00:00.000000000' '2021-12-31T16:00:00.000000000'
 '2021-12-31T17:00:00.000000000' '2021-12-31T18:00:00.000000000'
 '2021-12-31T19:00:00.000000000' '2021-12-31T20:00:00.000000000'
 '2021-12-31T21:00:00.000000000' '2021-12-31T22:00:00.000000000'
 '2021-12-31T23:00:00.000000000' '2022-01-01T00:00:00.000000000'] to ['2022-12-31T01:00:00.000000000' '2022-12-31T02:00:00.000000000'
 '2022-12-31T03:00:00.000000000' '2022-12-31T04:00:00.000000000'
 '2022-12-31T05:00:00.000000000' '2022-12-31T06:00:00.000000000'
 '2022-12-31T07:00:00.000000000' '2022-12-31T08:00:00.000000000'
 '2022-12-31T09:00:00.000000000' '2022-12-31T10:00:00.000000000'
 '2022-12-31T11:00:00.000000000' '2022-12-31T12:00:00.000000000'
 '2022-12-31T13:00:00.000000000' '2022-12-31T14:00:00.000000000'
 '2022-12-31T15:00:00.000000000' '2022-12-31T16:00:00.000000000'
 '2022-12-31T17:00:00.000000000' '2022-12-31T18:00:00.000000000'
 '2022-12-31T19:00:00.000000000' '2022-12-31T20:00:00.000000000'
 '2022-12-31T21:00:00.000000000' '2022-12-31T22:00:00.000000000'
 '2022-12-31T23:00:00.000000000' '2023-01-01T00:00:00.000000000'] (8784 points)

ğŸ“Š Variable Details:
   tp:
      Shape: (366, 24, 18, 33)
      Dimensions: ('time', 'step', 'latitude', 'longitude')
      Units: m
      Description: Total precipitation
      Data range: 0.0 to 0.07606635987758636

==================================================
ğŸš€ Creating multiple CSV formats...
========================================
ğŸ“Š Converting to Long Format DataFrame...
âœ… Created DataFrame with 2680560 rows and 8 columns
ğŸ“Š Columns: ['time', 'step', 'latitude', 'longitude', 'number', 'surface', 'valid_time', 'tp']
ğŸ’¾ Saving DataFrame to: 202_puglia_era5_precipitation_long_format.csv
âœ… Saved successfully! File size: 242.65 MB
ğŸ“Š Long format sample:
            time   step  latitude  longitude  number  surface valid_time  \
13663 2021-12-31 1 days      41.9       15.4       0      0.0 2022-01-01
13664 2021-12-31 1 days      41.9       15.5       0      0.0 2022-01-01
13667 2021-12-31 1 days      41.9       15.8       0      0.0 2022-01-01
13668 2021-12-31 1 days      41.9       15.9       0      0.0 2022-01-01
13669 2021-12-31 1 days      41.9       16.0       0      0.0 2022-01-01

                 tp
13663  8.523463e-07
13664  8.523463e-07
13667  2.580881e-06
13668  2.789497e-06
13669  2.700090e-06

ğŸ“ˆ Converting to Time Series DataFrame (spatial aggregation: mean)...
   Aggregated 2 spatial dimensions using mean
âœ… Created time series DataFrame with 8760 rows and 5 columns
ğŸ’¾ Saving DataFrame to: 202_puglia_era5_precipitation_time_series.csv
âœ… Saved successfully! File size: 0.46 MB
ğŸ“ˆ Time series sample:
                      step  number  surface          valid_time        tp
time
2021-12-31 1 days 00:00:00       0      0.0 2022-01-01 00:00:00  0.000003
2022-01-01 0 days 01:00:00       0      0.0 2022-01-01 01:00:00  0.000000
2022-01-01 0 days 02:00:00       0      0.0 2022-01-01 02:00:00  0.000000
2022-01-01 0 days 03:00:00       0      0.0 2022-01-01 03:00:00  0.000000
2022-01-01 0 days 04:00:00       0      0.0 2022-01-01 04:00:00  0.000000

ğŸ—ºï¸  Converting to Spatial DataFrame (time aggregation: mean)...
   Aggregated time dimension using mean
âœ… Created spatial DataFrame with 7344 rows and 6 columns
ğŸ’¾ Saving DataFrame to: 202_puglia_era5_precipitation_spatial_average.csv
âœ… Saved successfully! File size: 0.47 MB
ğŸ—ºï¸  Spatial average sample:
             step  latitude  longitude  number  surface        tp
1 0 days 01:00:00      41.9       15.4       0      0.0  0.000051
2 0 days 01:00:00      41.9       15.5       0      0.0  0.000049
5 0 days 01:00:00      41.9       15.8       0      0.0  0.000048
6 0 days 01:00:00      41.9       15.9       0      0.0  0.000045
7 0 days 01:00:00      41.9       16.0       0      0.0  0.000044


ğŸ‰ Processing complete! Created 3 files:
   ğŸ“„ long_format: 202_puglia_era5_precipitation_long_format.csv
   ğŸ“„ time_series: 202_puglia_era5_precipitation_time_series.csv
   ğŸ“„ spatial_average: 202_puglia_era5_precipitation_spatial_average.csv

ğŸ’¡ Returning long format DataFrame with 2680560 rows

In [7]:
out_file = "puglia_era5land_hourly_tp_2023"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\nğŸ‰ Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df_2023 = process_my_data(ds, "2023_puglia_era5_precipitation")

ğŸŒ§ï¸  Processing London Precipitation Data
==================================================
ğŸ“¦ Extracting ZIP file: puglia_era5land_hourly_tp_2023.grib
ğŸ“‹ Files in archive: ['data.grib']
âœ… Extracted to: .
ğŸ¯ Found GRIB file: data.grib
ğŸ“Š Loading GRIB file: data.grib
ğŸ”„ Trying cfgrib...

c:\ProgramData\anaconda3\Lib\site-packages\cfgrib\xarray_plugin.py:131: FutureWarning: In a future version, xarray will not decode timedelta values based on the presence of a timedelta-like units attribute by default. Instead it will rely on the presence of a timedelta64 dtype attribute, which is now xarray's default way of encoding timedelta64 values. To continue decoding timedeltas based on the presence of a timedelta-like units attribute, users will need to explicitly opt-in by passing True or CFTimedeltaCoder(decode_via_units=True) to decode_timedelta. To silence this warning, set decode_timedelta to True, False, or a 'CFTimedeltaCoder' instance.
  vars, attrs, coord_names = xr.conventions.decode_cf_variables(
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:131: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"ğŸ“ Dataset dimensions: {dict(ds.dims)}")
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:260: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"ğŸ“ Dimensions: {dict(ds.dims)}")

âœ… Success with cfgrib!
ğŸ“ Dataset dimensions: {'time': 366, 'step': 24, 'latitude': 18, 'longitude': 33}
ğŸ“Š Variables: ['tp']

ğŸ“ˆ Data Summary:
==============================
ğŸ—ºï¸  Coordinates:
   number: 0
   time: 2022-12-31T00:00:00.000000000 to 2023-12-31T00:00:00.000000000 (366 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: 40.2 to 41.9 (18 points)
   longitude: 15.3 to 18.5 (33 points)
   valid_time: 2022-12-31T01:00:00.000000000 to 2024-01-01T00:00:00.000000000 (8784 points)

ğŸ“Š Data Variables:
   tp: ('time', 'step', 'latitude', 'longitude') - Total precipitation
      Units: m

ğŸ‰ Success! Dataset loaded successfully.

To work with your data:
1. Use ds[variable_name] to access variables
2. Use ds.sel() or ds.isel() to select data
3. Use ds.plot() for quick visualizations
ğŸŒ§ï¸  Processing Your London Precipitation Data
==================================================
ğŸ” Dataset Structure Analysis
========================================
ğŸ“ Dimensions: {'time': 366, 'step': 24, 'latitude': 18, 'longitude': 33}
ğŸ“Š Variables: ['tp']
ğŸ—ºï¸  Coordinates: ['number', 'time', 'step', 'surface', 'latitude', 'longitude', 'valid_time']

ğŸ“ Coordinate Details:
   number: 0
   time: 2022-12-31T00:00:00.000000000 to 2023-12-31T00:00:00.000000000 (366 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: 41.9 to 40.2 (18 points)
   longitude: 15.3 to 18.5 (33 points)
   valid_time: ['2022-12-31T01:00:00.000000000' '2022-12-31T02:00:00.000000000'
 '2022-12-31T03:00:00.000000000' '2022-12-31T04:00:00.000000000'
 '2022-12-31T05:00:00.000000000' '2022-12-31T06:00:00.000000000'
 '2022-12-31T07:00:00.000000000' '2022-12-31T08:00:00.000000000'
 '2022-12-31T09:00:00.000000000' '2022-12-31T10:00:00.000000000'
 '2022-12-31T11:00:00.000000000' '2022-12-31T12:00:00.000000000'
 '2022-12-31T13:00:00.000000000' '2022-12-31T14:00:00.000000000'
 '2022-12-31T15:00:00.000000000' '2022-12-31T16:00:00.000000000'
 '2022-12-31T17:00:00.000000000' '2022-12-31T18:00:00.000000000'
 '2022-12-31T19:00:00.000000000' '2022-12-31T20:00:00.000000000'
 '2022-12-31T21:00:00.000000000' '2022-12-31T22:00:00.000000000'
 '2022-12-31T23:00:00.000000000' '2023-01-01T00:00:00.000000000'] to ['2023-12-31T01:00:00.000000000' '2023-12-31T02:00:00.000000000'
 '2023-12-31T03:00:00.000000000' '2023-12-31T04:00:00.000000000'
 '2023-12-31T05:00:00.000000000' '2023-12-31T06:00:00.000000000'
 '2023-12-31T07:00:00.000000000' '2023-12-31T08:00:00.000000000'
 '2023-12-31T09:00:00.000000000' '2023-12-31T10:00:00.000000000'
 '2023-12-31T11:00:00.000000000' '2023-12-31T12:00:00.000000000'
 '2023-12-31T13:00:00.000000000' '2023-12-31T14:00:00.000000000'
 '2023-12-31T15:00:00.000000000' '2023-12-31T16:00:00.000000000'
 '2023-12-31T17:00:00.000000000' '2023-12-31T18:00:00.000000000'
 '2023-12-31T19:00:00.000000000' '2023-12-31T20:00:00.000000000'
 '2023-12-31T21:00:00.000000000' '2023-12-31T22:00:00.000000000'
 '2023-12-31T23:00:00.000000000' '2024-01-01T00:00:00.000000000'] (8784 points)

ğŸ“Š Variable Details:
   tp:
      Shape: (366, 24, 18, 33)
      Dimensions: ('time', 'step', 'latitude', 'longitude')
      Units: m
      Description: Total precipitation
      Data range: 0.0 to 0.08309638500213623

==================================================
ğŸš€ Creating multiple CSV formats...
========================================
ğŸ“Š Converting to Long Format DataFrame...
âœ… Created DataFrame with 2680560 rows and 8 columns
ğŸ“Š Columns: ['time', 'step', 'latitude', 'longitude', 'number', 'surface', 'valid_time', 'tp']
ğŸ’¾ Saving DataFrame to: 2023_puglia_era5_precipitation_long_format.csv
âœ… Saved successfully! File size: 243.25 MB
ğŸ“Š Long format sample:
            time   step  latitude  longitude  number  surface valid_time  \
13663 2022-12-31 1 days      41.9       15.4       0      0.0 2023-01-01
13664 2022-12-31 1 days      41.9       15.5       0      0.0 2023-01-01
13667 2022-12-31 1 days      41.9       15.8       0      0.0 2023-01-01
13668 2022-12-31 1 days      41.9       15.9       0      0.0 2023-01-01
13669 2022-12-31 1 days      41.9       16.0       0      0.0 2023-01-01

             tp
13663  0.000002
13664  0.000002
13667  0.000002
13668  0.000002
13669  0.000002

ğŸ“ˆ Converting to Time Series DataFrame (spatial aggregation: mean)...
   Aggregated 2 spatial dimensions using mean
âœ… Created time series DataFrame with 8760 rows and 5 columns
ğŸ’¾ Saving DataFrame to: 2023_puglia_era5_precipitation_time_series.csv
âœ… Saved successfully! File size: 0.46 MB
ğŸ“ˆ Time series sample:
                      step  number  surface          valid_time            tp
time
2022-12-31 1 days 00:00:00       0      0.0 2023-01-01 00:00:00  1.051227e-05
2023-01-01 0 days 01:00:00       0      0.0 2023-01-01 01:00:00  0.000000e+00
2023-01-01 0 days 02:00:00       0      0.0 2023-01-01 02:00:00  0.000000e+00
2023-01-01 0 days 03:00:00       0      0.0 2023-01-01 03:00:00  3.579200e-09
2023-01-01 0 days 04:00:00       0      0.0 2023-01-01 04:00:00  3.476937e-08

ğŸ—ºï¸  Converting to Spatial DataFrame (time aggregation: mean)...
   Aggregated time dimension using mean
âœ… Created spatial DataFrame with 7344 rows and 6 columns
ğŸ’¾ Saving DataFrame to: 2023_puglia_era5_precipitation_spatial_average.csv
âœ… Saved successfully! File size: 0.47 MB
ğŸ—ºï¸  Spatial average sample:
             step  latitude  longitude  number  surface        tp
1 0 days 01:00:00      41.9       15.4       0      0.0  0.000070
2 0 days 01:00:00      41.9       15.5       0      0.0  0.000074
5 0 days 01:00:00      41.9       15.8       0      0.0  0.000081
6 0 days 01:00:00      41.9       15.9       0      0.0  0.000074
7 0 days 01:00:00      41.9       16.0       0      0.0  0.000072


ğŸ‰ Processing complete! Created 3 files:
   ğŸ“„ long_format: 2023_puglia_era5_precipitation_long_format.csv
   ğŸ“„ time_series: 2023_puglia_era5_precipitation_time_series.csv
   ğŸ“„ spatial_average: 2023_puglia_era5_precipitation_spatial_average.csv

ğŸ’¡ Returning long format DataFrame with 2680560 rows

In [3]:
# london_era5land_hourly_tp_2020

out_file = "london_era5land_hourly_tp_2020"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\nğŸ‰ Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df_2021 = process_my_data(ds, "2020_london_era5_precipitation")

ğŸŒ§ï¸  Processing London Precipitation Data
==================================================
ğŸ“¦ Extracting ZIP file: london_era5land_hourly_tp_2020.grib
ğŸ“‹ Files in archive: ['data.grib']
âœ… Extracted to: .
ğŸ¯ Found GRIB file: data.grib
ğŸ“Š Loading GRIB file: data.grib
ğŸ”„ Trying cfgrib...

c:\ProgramData\anaconda3\Lib\site-packages\cfgrib\xarray_plugin.py:131: FutureWarning: In a future version, xarray will not decode timedelta values based on the presence of a timedelta-like units attribute by default. Instead it will rely on the presence of a timedelta64 dtype attribute, which is now xarray's default way of encoding timedelta64 values. To continue decoding timedeltas based on the presence of a timedelta-like units attribute, users will need to explicitly opt-in by passing True or CFTimedeltaCoder(decode_via_units=True) to decode_timedelta. To silence this warning, set decode_timedelta to True, False, or a 'CFTimedeltaCoder' instance.
  vars, attrs, coord_names = xr.conventions.decode_cf_variables(
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:131: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"ğŸ“ Dataset dimensions: {dict(ds.dims)}")
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:260: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"ğŸ“ Dimensions: {dict(ds.dims)}")

âœ… Success with cfgrib!
ğŸ“ Dataset dimensions: {'time': 367, 'step': 24, 'latitude': 3, 'longitude': 4}
ğŸ“Š Variables: ['tp']

ğŸ“ˆ Data Summary:
==============================
ğŸ—ºï¸  Coordinates:
   number: 0
   time: 2019-12-31T00:00:00.000000000 to 2020-12-31T00:00:00.000000000 (367 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: 51.4 to 51.6 (3 points)
   longitude: -0.2 to 0.1 (4 points)
   valid_time: 2019-12-31T01:00:00.000000000 to 2021-01-01T00:00:00.000000000 (8808 points)

ğŸ“Š Data Variables:
   tp: ('time', 'step', 'latitude', 'longitude') - Total precipitation
      Units: m

ğŸ‰ Success! Dataset loaded successfully.

To work with your data:
1. Use ds[variable_name] to access variables
2. Use ds.sel() or ds.isel() to select data
3. Use ds.plot() for quick visualizations
ğŸŒ§ï¸  Processing Your London Precipitation Data
==================================================
ğŸ” Dataset Structure Analysis
========================================
ğŸ“ Dimensions: {'time': 367, 'step': 24, 'latitude': 3, 'longitude': 4}
ğŸ“Š Variables: ['tp']
ğŸ—ºï¸  Coordinates: ['number', 'time', 'step', 'surface', 'latitude', 'longitude', 'valid_time']

ğŸ“ Coordinate Details:
   number: 0
   time: 2019-12-31T00:00:00.000000000 to 2020-12-31T00:00:00.000000000 (367 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: [51.6 51.5 51.4]
   longitude: [-2.00000000e-01 -1.00000000e-01  2.77555756e-17  1.00000000e-01]
   valid_time: ['2019-12-31T01:00:00.000000000' '2019-12-31T02:00:00.000000000'
 '2019-12-31T03:00:00.000000000' '2019-12-31T04:00:00.000000000'
 '2019-12-31T05:00:00.000000000' '2019-12-31T06:00:00.000000000'
 '2019-12-31T07:00:00.000000000' '2019-12-31T08:00:00.000000000'
 '2019-12-31T09:00:00.000000000' '2019-12-31T10:00:00.000000000'
 '2019-12-31T11:00:00.000000000' '2019-12-31T12:00:00.000000000'
 '2019-12-31T13:00:00.000000000' '2019-12-31T14:00:00.000000000'
 '2019-12-31T15:00:00.000000000' '2019-12-31T16:00:00.000000000'
 '2019-12-31T17:00:00.000000000' '2019-12-31T18:00:00.000000000'
 '2019-12-31T19:00:00.000000000' '2019-12-31T20:00:00.000000000'
 '2019-12-31T21:00:00.000000000' '2019-12-31T22:00:00.000000000'
 '2019-12-31T23:00:00.000000000' '2020-01-01T00:00:00.000000000'] to ['2020-12-31T01:00:00.000000000' '2020-12-31T02:00:00.000000000'
 '2020-12-31T03:00:00.000000000' '2020-12-31T04:00:00.000000000'
 '2020-12-31T05:00:00.000000000' '2020-12-31T06:00:00.000000000'
 '2020-12-31T07:00:00.000000000' '2020-12-31T08:00:00.000000000'
 '2020-12-31T09:00:00.000000000' '2020-12-31T10:00:00.000000000'
 '2020-12-31T11:00:00.000000000' '2020-12-31T12:00:00.000000000'
 '2020-12-31T13:00:00.000000000' '2020-12-31T14:00:00.000000000'
 '2020-12-31T15:00:00.000000000' '2020-12-31T16:00:00.000000000'
 '2020-12-31T17:00:00.000000000' '2020-12-31T18:00:00.000000000'
 '2020-12-31T19:00:00.000000000' '2020-12-31T20:00:00.000000000'
 '2020-12-31T21:00:00.000000000' '2020-12-31T22:00:00.000000000'
 '2020-12-31T23:00:00.000000000' '2021-01-01T00:00:00.000000000'] (8808 points)

ğŸ“Š Variable Details:
   tp:
      Shape: (367, 24, 3, 4)
      Dimensions: ('time', 'step', 'latitude', 'longitude')
      Units: m
      Description: Total precipitation
      Data range: 0.0 to 0.022458001971244812

==================================================
ğŸš€ Creating multiple CSV formats...
========================================
ğŸ“Š Converting to Long Format DataFrame...
âœ… Created DataFrame with 105408 rows and 8 columns
ğŸ“Š Columns: ['time', 'step', 'latitude', 'longitude', 'number', 'surface', 'valid_time', 'tp']
ğŸ’¾ Saving DataFrame to: 2020_london_era5_precipitation_long_format.csv
âœ… Saved successfully! File size: 8.38 MB
ğŸ“Š Long format sample:
          time   step  latitude     longitude  number  surface valid_time  \
276 2019-12-31 1 days      51.6 -2.000000e-01       0      0.0 2020-01-01
277 2019-12-31 1 days      51.6 -1.000000e-01       0      0.0 2020-01-01
278 2019-12-31 1 days      51.6  2.775558e-17       0      0.0 2020-01-01
279 2019-12-31 1 days      51.6  1.000000e-01       0      0.0 2020-01-01
280 2019-12-31 1 days      51.5 -2.000000e-01       0      0.0 2020-01-01

           tp
276  0.000048
277  0.000044
278  0.000041
279  0.000043
280  0.000043

ğŸ“ˆ Converting to Time Series DataFrame (spatial aggregation: mean)...
   Aggregated 2 spatial dimensions using mean
âœ… Created time series DataFrame with 8784 rows and 5 columns
ğŸ’¾ Saving DataFrame to: 2020_london_era5_precipitation_time_series.csv
âœ… Saved successfully! File size: 0.46 MB
ğŸ“ˆ Time series sample:
                      step  number  surface          valid_time        tp
time
2019-12-31 1 days 00:00:00       0      0.0 2020-01-01 00:00:00  0.000037
2020-01-01 0 days 01:00:00       0      0.0 2020-01-01 01:00:00  0.000001
2020-01-01 0 days 02:00:00       0      0.0 2020-01-01 02:00:00  0.000006
2020-01-01 0 days 03:00:00       0      0.0 2020-01-01 03:00:00  0.000011
2020-01-01 0 days 04:00:00       0      0.0 2020-01-01 04:00:00  0.000015

ğŸ—ºï¸  Converting to Spatial DataFrame (time aggregation: mean)...
   Aggregated time dimension using mean
âœ… Created spatial DataFrame with 288 rows and 6 columns
ğŸ’¾ Saving DataFrame to: 2020_london_era5_precipitation_spatial_average.csv
âœ… Saved successfully! File size: 0.02 MB
ğŸ—ºï¸  Spatial average sample:
             step  latitude     longitude  number  surface        tp
0 0 days 01:00:00      51.6 -2.000000e-01       0      0.0  0.000064
1 0 days 01:00:00      51.6 -1.000000e-01       0      0.0  0.000063
2 0 days 01:00:00      51.6  2.775558e-17       0      0.0  0.000062
3 0 days 01:00:00      51.6  1.000000e-01       0      0.0  0.000062
4 0 days 01:00:00      51.5 -2.000000e-01       0      0.0  0.000065


ğŸ‰ Processing complete! Created 3 files:
   ğŸ“„ long_format: 2020_london_era5_precipitation_long_format.csv
   ğŸ“„ time_series: 2020_london_era5_precipitation_time_series.csv
   ğŸ“„ spatial_average: 2020_london_era5_precipitation_spatial_average.csv

ğŸ’¡ Returning long format DataFrame with 105408 rows

In [5]:
df_2021.tail()

,time,step,latitude,longitude,number,surface,valid_time,tp
105403,2020-12-31,0 days 23:00:00,51.5,1.000000e-01,0,0.0,2020-12-31 23:00:00,0.000009
105404,2020-12-31,0 days 23:00:00,51.4,-2.000000e-01,0,0.0,2020-12-31 23:00:00,0.000017
105405,2020-12-31,0 days 23:00:00,51.4,-1.000000e-01,0,0.0,2020-12-31 23:00:00,0.000016
105406,2020-12-31,0 days 23:00:00,51.4,2.775558e-17,0,0.0,2020-12-31 23:00:00,0.000014
105407,2020-12-31,0 days 23:00:00,51.4,1.000000e-01,0,0.0,2020-12-31 23:00:00,0.000014

In [2]:
out_file = "puglia_era5land_hourly_tp_2025"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\nğŸ‰ Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df_2021 = process_my_data(ds, "2025_puglia_era5_precipitation")

ğŸŒ§ï¸  Processing London Precipitation Data
==================================================
ğŸ“¦ Extracting ZIP file: puglia_era5land_hourly_tp_2025.grib
ğŸ“‹ Files in archive: ['data.grib']
âœ… Extracted to: .
ğŸ¯ Found GRIB file: data.grib
ğŸ“Š Loading GRIB file: data.grib
ğŸ”„ Trying cfgrib...

c:\ProgramData\anaconda3\Lib\site-packages\cfgrib\xarray_plugin.py:131: FutureWarning: In a future version, xarray will not decode timedelta values based on the presence of a timedelta-like units attribute by default. Instead it will rely on the presence of a timedelta64 dtype attribute, which is now xarray's default way of encoding timedelta64 values. To continue decoding timedeltas based on the presence of a timedelta-like units attribute, users will need to explicitly opt-in by passing True or CFTimedeltaCoder(decode_via_units=True) to decode_timedelta. To silence this warning, set decode_timedelta to True, False, or a 'CFTimedeltaCoder' instance.
  vars, attrs, coord_names = xr.conventions.decode_cf_variables(
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:131: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"ğŸ“ Dataset dimensions: {dict(ds.dims)}")
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:260: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"ğŸ“ Dimensions: {dict(ds.dims)}")

âœ… Success with cfgrib!
ğŸ“ Dataset dimensions: {'time': 180, 'step': 24, 'latitude': 18, 'longitude': 33}
ğŸ“Š Variables: ['tp']

ğŸ“ˆ Data Summary:
==============================
ğŸ—ºï¸  Coordinates:
   number: 0
   time: 2024-12-31T00:00:00.000000000 to 2025-06-28T00:00:00.000000000 (180 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: 40.2 to 41.9 (18 points)
   longitude: 15.3 to 18.5 (33 points)
   valid_time: 2024-12-31T01:00:00.000000000 to 2025-06-29T00:00:00.000000000 (4320 points)

ğŸ“Š Data Variables:
   tp: ('time', 'step', 'latitude', 'longitude') - Total precipitation
      Units: m

ğŸ‰ Success! Dataset loaded successfully.

To work with your data:
1. Use ds[variable_name] to access variables
2. Use ds.sel() or ds.isel() to select data
3. Use ds.plot() for quick visualizations
ğŸŒ§ï¸  Processing Your London Precipitation Data
==================================================
ğŸ” Dataset Structure Analysis
========================================
ğŸ“ Dimensions: {'time': 180, 'step': 24, 'latitude': 18, 'longitude': 33}
ğŸ“Š Variables: ['tp']
ğŸ—ºï¸  Coordinates: ['number', 'time', 'step', 'surface', 'latitude', 'longitude', 'valid_time']

ğŸ“ Coordinate Details:
   number: 0
   time: 2024-12-31T00:00:00.000000000 to 2025-06-28T00:00:00.000000000 (180 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: 41.9 to 40.2 (18 points)
   longitude: 15.3 to 18.5 (33 points)
   valid_time: ['2024-12-31T01:00:00.000000000' '2024-12-31T02:00:00.000000000'
 '2024-12-31T03:00:00.000000000' '2024-12-31T04:00:00.000000000'
 '2024-12-31T05:00:00.000000000' '2024-12-31T06:00:00.000000000'
 '2024-12-31T07:00:00.000000000' '2024-12-31T08:00:00.000000000'
 '2024-12-31T09:00:00.000000000' '2024-12-31T10:00:00.000000000'
 '2024-12-31T11:00:00.000000000' '2024-12-31T12:00:00.000000000'
 '2024-12-31T13:00:00.000000000' '2024-12-31T14:00:00.000000000'
 '2024-12-31T15:00:00.000000000' '2024-12-31T16:00:00.000000000'
 '2024-12-31T17:00:00.000000000' '2024-12-31T18:00:00.000000000'
 '2024-12-31T19:00:00.000000000' '2024-12-31T20:00:00.000000000'
 '2024-12-31T21:00:00.000000000' '2024-12-31T22:00:00.000000000'
 '2024-12-31T23:00:00.000000000' '2025-01-01T00:00:00.000000000'] to ['2025-06-28T01:00:00.000000000' '2025-06-28T02:00:00.000000000'
 '2025-06-28T03:00:00.000000000' '2025-06-28T04:00:00.000000000'
 '2025-06-28T05:00:00.000000000' '2025-06-28T06:00:00.000000000'
 '2025-06-28T07:00:00.000000000' '2025-06-28T08:00:00.000000000'
 '2025-06-28T09:00:00.000000000' '2025-06-28T10:00:00.000000000'
 '2025-06-28T11:00:00.000000000' '2025-06-28T12:00:00.000000000'
 '2025-06-28T13:00:00.000000000' '2025-06-28T14:00:00.000000000'
 '2025-06-28T15:00:00.000000000' '2025-06-28T16:00:00.000000000'
 '2025-06-28T17:00:00.000000000' '2025-06-28T18:00:00.000000000'
 '2025-06-28T19:00:00.000000000' '2025-06-28T20:00:00.000000000'
 '2025-06-28T21:00:00.000000000' '2025-06-28T22:00:00.000000000'
 '2025-06-28T23:00:00.000000000' '2025-06-29T00:00:00.000000000'] (4320 points)

ğŸ“Š Variable Details:
   tp:
      Shape: (180, 24, 18, 33)
      Dimensions: ('time', 'step', 'latitude', 'longitude')
      Units: m
      Description: Total precipitation
      Data range: 0.0 to 0.053033072501420975

==================================================
ğŸš€ Creating multiple CSV formats...
========================================
ğŸ“Š Converting to Long Format DataFrame...
âœ… Created DataFrame with 1308762 rows and 8 columns
ğŸ“Š Columns: ['time', 'step', 'latitude', 'longitude', 'number', 'surface', 'valid_time', 'tp']
ğŸ’¾ Saving DataFrame to: 2025_puglia_era5_precipitation_long_format.csv
âœ… Saved successfully! File size: 118.62 MB
ğŸ“Š Long format sample:
            time   step  latitude  longitude  number  surface valid_time   tp
13663 2024-12-31 1 days      41.9       15.4       0      0.0 2025-01-01  0.0
13664 2024-12-31 1 days      41.9       15.5       0      0.0 2025-01-01  0.0
13667 2024-12-31 1 days      41.9       15.8       0      0.0 2025-01-01  0.0
13668 2024-12-31 1 days      41.9       15.9       0      0.0 2025-01-01  0.0
13669 2024-12-31 1 days      41.9       16.0       0      0.0 2025-01-01  0.0

ğŸ“ˆ Converting to Time Series DataFrame (spatial aggregation: mean)...
   Aggregated 2 spatial dimensions using mean
âœ… Created time series DataFrame with 4277 rows and 5 columns
ğŸ’¾ Saving DataFrame to: 2025_puglia_era5_precipitation_time_series.csv
âœ… Saved successfully! File size: 0.23 MB
ğŸ“ˆ Time series sample:
                      step  number  surface          valid_time            tp
time
2024-12-31 1 days 00:00:00       0      0.0 2025-01-01 00:00:00  6.712340e-07
2025-01-01 0 days 01:00:00       0      0.0 2025-01-01 01:00:00  4.439913e-08
2025-01-01 0 days 02:00:00       0      0.0 2025-01-01 02:00:00  6.542389e-08
2025-01-01 0 days 03:00:00       0      0.0 2025-01-01 03:00:00  1.182110e-07
2025-01-01 0 days 04:00:00       0      0.0 2025-01-01 04:00:00  1.990961e-07

ğŸ—ºï¸  Converting to Spatial DataFrame (time aggregation: mean)...
   Aggregated time dimension using mean
âœ… Created spatial DataFrame with 7344 rows and 6 columns
ğŸ’¾ Saving DataFrame to: 2025_puglia_era5_precipitation_spatial_average.csv
âœ… Saved successfully! File size: 0.47 MB
ğŸ—ºï¸  Spatial average sample:
             step  latitude  longitude  number  surface        tp
1 0 days 01:00:00      41.9       15.4       0      0.0  0.000053
2 0 days 01:00:00      41.9       15.5       0      0.0  0.000058
5 0 days 01:00:00      41.9       15.8       0      0.0  0.000065
6 0 days 01:00:00      41.9       15.9       0      0.0  0.000063
7 0 days 01:00:00      41.9       16.0       0      0.0  0.000063


ğŸ‰ Processing complete! Created 3 files:
   ğŸ“„ long_format: 2025_puglia_era5_precipitation_long_format.csv
   ğŸ“„ time_series: 2025_puglia_era5_precipitation_time_series.csv
   ğŸ“„ spatial_average: 2025_puglia_era5_precipitation_spatial_average.csv

ğŸ’¡ Returning long format DataFrame with 1308762 rows

In [14]:
out_file = "london_era5land_hourly_tp_2021"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\nğŸ‰ Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df_2021 = process_my_data(ds, "2021_london_era5_precipitation")

ğŸŒ§ï¸  Processing London Precipitation Data
==================================================
ğŸ“¦ Extracting ZIP file: london_era5land_hourly_tp_2021.grib
ğŸ“‹ Files in archive: ['data.grib']
âœ… Extracted to: .
ğŸ¯ Found GRIB file: data.grib
ğŸ“Š Loading GRIB file: data.grib
ğŸ”„ Trying cfgrib...

c:\ProgramData\anaconda3\Lib\site-packages\cfgrib\xarray_plugin.py:131: FutureWarning: In a future version, xarray will not decode timedelta values based on the presence of a timedelta-like units attribute by default. Instead it will rely on the presence of a timedelta64 dtype attribute, which is now xarray's default way of encoding timedelta64 values. To continue decoding timedeltas based on the presence of a timedelta-like units attribute, users will need to explicitly opt-in by passing True or CFTimedeltaCoder(decode_via_units=True) to decode_timedelta. To silence this warning, set decode_timedelta to True, False, or a 'CFTimedeltaCoder' instance.
  vars, attrs, coord_names = xr.conventions.decode_cf_variables(
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:131: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"ğŸ“ Dataset dimensions: {dict(ds.dims)}")
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:260: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"ğŸ“ Dimensions: {dict(ds.dims)}")

âœ… Success with cfgrib!
ğŸ“ Dataset dimensions: {'time': 366, 'step': 24, 'latitude': 3, 'longitude': 4}
ğŸ“Š Variables: ['tp']

ğŸ“ˆ Data Summary:
==============================
ğŸ—ºï¸  Coordinates:
   number: 0
   time: 2020-12-31T00:00:00.000000000 to 2021-12-31T00:00:00.000000000 (366 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: 51.4 to 51.6 (3 points)
   longitude: -0.2 to 0.1 (4 points)
   valid_time: 2020-12-31T01:00:00.000000000 to 2022-01-01T00:00:00.000000000 (8784 points)

ğŸ“Š Data Variables:
   tp: ('time', 'step', 'latitude', 'longitude') - Total precipitation
      Units: m

ğŸ‰ Success! Dataset loaded successfully.

To work with your data:
1. Use ds[variable_name] to access variables
2. Use ds.sel() or ds.isel() to select data
3. Use ds.plot() for quick visualizations
ğŸŒ§ï¸  Processing Your London Precipitation Data
==================================================
ğŸ” Dataset Structure Analysis
========================================
ğŸ“ Dimensions: {'time': 366, 'step': 24, 'latitude': 3, 'longitude': 4}
ğŸ“Š Variables: ['tp']
ğŸ—ºï¸  Coordinates: ['number', 'time', 'step', 'surface', 'latitude', 'longitude', 'valid_time']

ğŸ“ Coordinate Details:
   number: 0
   time: 2020-12-31T00:00:00.000000000 to 2021-12-31T00:00:00.000000000 (366 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: [51.6 51.5 51.4]
   longitude: [-2.00000000e-01 -1.00000000e-01  2.77555756e-17  1.00000000e-01]
   valid_time: ['2020-12-31T01:00:00.000000000' '2020-12-31T02:00:00.000000000'
 '2020-12-31T03:00:00.000000000' '2020-12-31T04:00:00.000000000'
 '2020-12-31T05:00:00.000000000' '2020-12-31T06:00:00.000000000'
 '2020-12-31T07:00:00.000000000' '2020-12-31T08:00:00.000000000'
 '2020-12-31T09:00:00.000000000' '2020-12-31T10:00:00.000000000'
 '2020-12-31T11:00:00.000000000' '2020-12-31T12:00:00.000000000'
 '2020-12-31T13:00:00.000000000' '2020-12-31T14:00:00.000000000'
 '2020-12-31T15:00:00.000000000' '2020-12-31T16:00:00.000000000'
 '2020-12-31T17:00:00.000000000' '2020-12-31T18:00:00.000000000'
 '2020-12-31T19:00:00.000000000' '2020-12-31T20:00:00.000000000'
 '2020-12-31T21:00:00.000000000' '2020-12-31T22:00:00.000000000'
 '2020-12-31T23:00:00.000000000' '2021-01-01T00:00:00.000000000'] to ['2021-12-31T01:00:00.000000000' '2021-12-31T02:00:00.000000000'
 '2021-12-31T03:00:00.000000000' '2021-12-31T04:00:00.000000000'
 '2021-12-31T05:00:00.000000000' '2021-12-31T06:00:00.000000000'
 '2021-12-31T07:00:00.000000000' '2021-12-31T08:00:00.000000000'
 '2021-12-31T09:00:00.000000000' '2021-12-31T10:00:00.000000000'
 '2021-12-31T11:00:00.000000000' '2021-12-31T12:00:00.000000000'
 '2021-12-31T13:00:00.000000000' '2021-12-31T14:00:00.000000000'
 '2021-12-31T15:00:00.000000000' '2021-12-31T16:00:00.000000000'
 '2021-12-31T17:00:00.000000000' '2021-12-31T18:00:00.000000000'
 '2021-12-31T19:00:00.000000000' '2021-12-31T20:00:00.000000000'
 '2021-12-31T21:00:00.000000000' '2021-12-31T22:00:00.000000000'
 '2021-12-31T23:00:00.000000000' '2022-01-01T00:00:00.000000000'] (8784 points)

ğŸ“Š Variable Details:
   tp:
      Shape: (366, 24, 3, 4)
      Dimensions: ('time', 'step', 'latitude', 'longitude')
      Units: m
      Description: Total precipitation
      Data range: 0.0 to 0.0361451655626297

==================================================
ğŸš€ Creating multiple CSV formats...
========================================
ğŸ“Š Converting to Long Format DataFrame...
âœ… Created DataFrame with 105120 rows and 8 columns
ğŸ“Š Columns: ['time', 'step', 'latitude', 'longitude', 'number', 'surface', 'valid_time', 'tp']
ğŸ’¾ Saving DataFrame to: 2021_london_era5_precipitation_long_format.csv
âœ… Saved successfully! File size: 8.42 MB
ğŸ“Š Long format sample:
          time   step  latitude     longitude  number  surface valid_time  \
276 2020-12-31 1 days      51.6 -2.000000e-01       0      0.0 2021-01-01
277 2020-12-31 1 days      51.6 -1.000000e-01       0      0.0 2021-01-01
278 2020-12-31 1 days      51.6  2.775558e-17       0      0.0 2021-01-01
279 2020-12-31 1 days      51.6  1.000000e-01       0      0.0 2021-01-01
280 2020-12-31 1 days      51.5 -2.000000e-01       0      0.0 2021-01-01

           tp
276  0.000013
277  0.000011
278  0.000009
279  0.000008
280  0.000014

ğŸ“ˆ Converting to Time Series DataFrame (spatial aggregation: mean)...
   Aggregated 2 spatial dimensions using mean
âœ… Created time series DataFrame with 8760 rows and 5 columns
ğŸ’¾ Saving DataFrame to: 2021_london_era5_precipitation_time_series.csv
âœ… Saved successfully! File size: 0.46 MB
ğŸ“ˆ Time series sample:
                      step  number  surface          valid_time        tp
time
2020-12-31 1 days 00:00:00       0      0.0 2021-01-01 00:00:00  0.000013
2021-01-01 0 days 01:00:00       0      0.0 2021-01-01 01:00:00  0.000001
2021-01-01 0 days 02:00:00       0      0.0 2021-01-01 02:00:00  0.000002
2021-01-01 0 days 03:00:00       0      0.0 2021-01-01 03:00:00  0.000003
2021-01-01 0 days 04:00:00       0      0.0 2021-01-01 04:00:00  0.000004

ğŸ—ºï¸  Converting to Spatial DataFrame (time aggregation: mean)...
   Aggregated time dimension using mean
âœ… Created spatial DataFrame with 288 rows and 6 columns
ğŸ’¾ Saving DataFrame to: 2021_london_era5_precipitation_spatial_average.csv
âœ… Saved successfully! File size: 0.02 MB
ğŸ—ºï¸  Spatial average sample:
             step  latitude     longitude  number  surface        tp
0 0 days 01:00:00      51.6 -2.000000e-01       0      0.0  0.000085
1 0 days 01:00:00      51.6 -1.000000e-01       0      0.0  0.000087
2 0 days 01:00:00      51.6  2.775558e-17       0      0.0  0.000090
3 0 days 01:00:00      51.6  1.000000e-01       0      0.0  0.000094
4 0 days 01:00:00      51.5 -2.000000e-01       0      0.0  0.000085


ğŸ‰ Processing complete! Created 3 files:
   ğŸ“„ long_format: 2021_london_era5_precipitation_long_format.csv
   ğŸ“„ time_series: 2021_london_era5_precipitation_time_series.csv
   ğŸ“„ spatial_average: 2021_london_era5_precipitation_spatial_average.csv

ğŸ’¡ Returning long format DataFrame with 105120 rows

In [16]:
df_2021.head()

,time,step,latitude,longitude,number,surface,valid_time,tp
0,2020-12-31,1 days 00:00:00,51.6,-2.000000e-01,0,0.0,2021-01-01 00:00:00,0.000013
1,2020-12-31,1 days 00:00:00,51.6,-1.000000e-01,0,0.0,2021-01-01 00:00:00,0.000011
2,2020-12-31,1 days 00:00:00,51.6,2.775558e-17,0,0.0,2021-01-01 00:00:00,0.000009
3,2020-12-31,1 days 00:00:00,51.6,1.000000e-01,0,0.0,2021-01-01 00:00:00,0.000008
4,2020-12-31,1 days 00:00:00,51.5,-2.000000e-01,0,0.0,2021-01-01 00:00:00,0.000014

In [17]:
df_2021.tail()

,time,step,latitude,longitude,number,surface,valid_time,tp
105115,2021-12-31,0 days 23:00:00,51.5,1.000000e-01,0,0.0,2021-12-31 23:00:00,0.001947
105116,2021-12-31,0 days 23:00:00,51.4,-2.000000e-01,0,0.0,2021-12-31 23:00:00,0.001738
105117,2021-12-31,0 days 23:00:00,51.4,-1.000000e-01,0,0.0,2021-12-31 23:00:00,0.001678
105118,2021-12-31,0 days 23:00:00,51.4,2.775558e-17,0,0.0,2021-12-31 23:00:00,0.001658
105119,2021-12-31,0 days 23:00:00,51.4,1.000000e-01,0,0.0,2021-12-31 23:00:00,0.001421

In [10]:
out_file = "london_era5land_hourly_tp_2022"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\nğŸ‰ Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df_2022 = process_my_data(ds, "2022_london_era5_precipitation")

ğŸŒ§ï¸  Processing London Precipitation Data
==================================================
ğŸ“¦ Extracting ZIP file: london_era5land_hourly_tp_2022.grib
ğŸ“‹ Files in archive: ['data.grib']
âœ… Extracted to: .
ğŸ¯ Found GRIB file: data.grib
ğŸ“Š Loading GRIB file: data.grib
ğŸ”„ Trying cfgrib...

c:\ProgramData\anaconda3\Lib\site-packages\cfgrib\xarray_plugin.py:131: FutureWarning: In a future version, xarray will not decode timedelta values based on the presence of a timedelta-like units attribute by default. Instead it will rely on the presence of a timedelta64 dtype attribute, which is now xarray's default way of encoding timedelta64 values. To continue decoding timedeltas based on the presence of a timedelta-like units attribute, users will need to explicitly opt-in by passing True or CFTimedeltaCoder(decode_via_units=True) to decode_timedelta. To silence this warning, set decode_timedelta to True, False, or a 'CFTimedeltaCoder' instance.
  vars, attrs, coord_names = xr.conventions.decode_cf_variables(
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:131: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"ğŸ“ Dataset dimensions: {dict(ds.dims)}")
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:260: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"ğŸ“ Dimensions: {dict(ds.dims)}")

âœ… Success with cfgrib!
ğŸ“ Dataset dimensions: {'time': 366, 'step': 24, 'latitude': 3, 'longitude': 4}
ğŸ“Š Variables: ['tp']

ğŸ“ˆ Data Summary:
==============================
ğŸ—ºï¸  Coordinates:
   number: 0
   time: 2021-12-31T00:00:00.000000000 to 2022-12-31T00:00:00.000000000 (366 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: 51.4 to 51.6 (3 points)
   longitude: -0.2 to 0.1 (4 points)
   valid_time: 2021-12-31T01:00:00.000000000 to 2023-01-01T00:00:00.000000000 (8784 points)

ğŸ“Š Data Variables:
   tp: ('time', 'step', 'latitude', 'longitude') - Total precipitation
      Units: m

ğŸ‰ Success! Dataset loaded successfully.

To work with your data:
1. Use ds[variable_name] to access variables
2. Use ds.sel() or ds.isel() to select data
3. Use ds.plot() for quick visualizations
ğŸŒ§ï¸  Processing Your London Precipitation Data
==================================================
ğŸ” Dataset Structure Analysis
========================================
ğŸ“ Dimensions: {'time': 366, 'step': 24, 'latitude': 3, 'longitude': 4}
ğŸ“Š Variables: ['tp']
ğŸ—ºï¸  Coordinates: ['number', 'time', 'step', 'surface', 'latitude', 'longitude', 'valid_time']

ğŸ“ Coordinate Details:
   number: 0
   time: 2021-12-31T00:00:00.000000000 to 2022-12-31T00:00:00.000000000 (366 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: [51.6 51.5 51.4]
   longitude: [-2.00000000e-01 -1.00000000e-01  2.77555756e-17  1.00000000e-01]
   valid_time: ['2021-12-31T01:00:00.000000000' '2021-12-31T02:00:00.000000000'
 '2021-12-31T03:00:00.000000000' '2021-12-31T04:00:00.000000000'
 '2021-12-31T05:00:00.000000000' '2021-12-31T06:00:00.000000000'
 '2021-12-31T07:00:00.000000000' '2021-12-31T08:00:00.000000000'
 '2021-12-31T09:00:00.000000000' '2021-12-31T10:00:00.000000000'
 '2021-12-31T11:00:00.000000000' '2021-12-31T12:00:00.000000000'
 '2021-12-31T13:00:00.000000000' '2021-12-31T14:00:00.000000000'
 '2021-12-31T15:00:00.000000000' '2021-12-31T16:00:00.000000000'
 '2021-12-31T17:00:00.000000000' '2021-12-31T18:00:00.000000000'
 '2021-12-31T19:00:00.000000000' '2021-12-31T20:00:00.000000000'
 '2021-12-31T21:00:00.000000000' '2021-12-31T22:00:00.000000000'
 '2021-12-31T23:00:00.000000000' '2022-01-01T00:00:00.000000000'] to ['2022-12-31T01:00:00.000000000' '2022-12-31T02:00:00.000000000'
 '2022-12-31T03:00:00.000000000' '2022-12-31T04:00:00.000000000'
 '2022-12-31T05:00:00.000000000' '2022-12-31T06:00:00.000000000'
 '2022-12-31T07:00:00.000000000' '2022-12-31T08:00:00.000000000'
 '2022-12-31T09:00:00.000000000' '2022-12-31T10:00:00.000000000'
 '2022-12-31T11:00:00.000000000' '2022-12-31T12:00:00.000000000'
 '2022-12-31T13:00:00.000000000' '2022-12-31T14:00:00.000000000'
 '2022-12-31T15:00:00.000000000' '2022-12-31T16:00:00.000000000'
 '2022-12-31T17:00:00.000000000' '2022-12-31T18:00:00.000000000'
 '2022-12-31T19:00:00.000000000' '2022-12-31T20:00:00.000000000'
 '2022-12-31T21:00:00.000000000' '2022-12-31T22:00:00.000000000'
 '2022-12-31T23:00:00.000000000' '2023-01-01T00:00:00.000000000'] (8784 points)

ğŸ“Š Variable Details:
   tp:
      Shape: (366, 24, 3, 4)
      Dimensions: ('time', 'step', 'latitude', 'longitude')
      Units: m
      Description: Total precipitation
      Data range: 0.0 to 0.0299998726695776

==================================================
ğŸš€ Creating multiple CSV formats...
========================================
ğŸ“Š Converting to Long Format DataFrame...
âœ… Created DataFrame with 105120 rows and 8 columns
ğŸ“Š Columns: ['time', 'step', 'latitude', 'longitude', 'number', 'surface', 'valid_time', 'tp']
ğŸ’¾ Saving DataFrame to: 2022_london_era5_precipitation_long_format.csv
âœ… Saved successfully! File size: 8.38 MB
ğŸ“Š Long format sample:
          time   step  latitude     longitude  number  surface valid_time  \
276 2021-12-31 1 days      51.6 -2.000000e-01       0      0.0 2022-01-01
277 2021-12-31 1 days      51.6 -1.000000e-01       0      0.0 2022-01-01
278 2021-12-31 1 days      51.6  2.775558e-17       0      0.0 2022-01-01
279 2021-12-31 1 days      51.6  1.000000e-01       0      0.0 2022-01-01
280 2021-12-31 1 days      51.5 -2.000000e-01       0      0.0 2022-01-01

           tp
276  0.002712
277  0.002751
278  0.002790
279  0.002478
280  0.002195

ğŸ“ˆ Converting to Time Series DataFrame (spatial aggregation: mean)...
   Aggregated 2 spatial dimensions using mean
âœ… Created time series DataFrame with 8760 rows and 5 columns
ğŸ’¾ Saving DataFrame to: 2022_london_era5_precipitation_time_series.csv
âœ… Saved successfully! File size: 0.46 MB
ğŸ“ˆ Time series sample:
                      step  number  surface          valid_time            tp
time
2021-12-31 1 days 00:00:00       0      0.0 2022-01-01 00:00:00  2.154291e-03
2022-01-01 0 days 01:00:00       0      0.0 2022-01-01 01:00:00  1.889033e-07
2022-01-01 0 days 02:00:00       0      0.0 2022-01-01 02:00:00  1.890585e-07
2022-01-01 0 days 03:00:00       0      0.0 2022-01-01 03:00:00  1.890585e-07
2022-01-01 0 days 04:00:00       0      0.0 2022-01-01 04:00:00  1.890585e-07

ğŸ—ºï¸  Converting to Spatial DataFrame (time aggregation: mean)...
   Aggregated time dimension using mean
âœ… Created spatial DataFrame with 288 rows and 6 columns
ğŸ’¾ Saving DataFrame to: 2022_london_era5_precipitation_spatial_average.csv
âœ… Saved successfully! File size: 0.02 MB
ğŸ—ºï¸  Spatial average sample:
             step  latitude     longitude  number  surface        tp
0 0 days 01:00:00      51.6 -2.000000e-01       0      0.0  0.000057
1 0 days 01:00:00      51.6 -1.000000e-01       0      0.0  0.000055
2 0 days 01:00:00      51.6  2.775558e-17       0      0.0  0.000054
3 0 days 01:00:00      51.6  1.000000e-01       0      0.0  0.000055
4 0 days 01:00:00      51.5 -2.000000e-01       0      0.0  0.000055


ğŸ‰ Processing complete! Created 3 files:
   ğŸ“„ long_format: 2022_london_era5_precipitation_long_format.csv
   ğŸ“„ time_series: 2022_london_era5_precipitation_time_series.csv
   ğŸ“„ spatial_average: 2022_london_era5_precipitation_spatial_average.csv

ğŸ’¡ Returning long format DataFrame with 105120 rows

In [11]:
df_2022.shape

(105120, 8)

In [13]:
df_2022.tail()

,time,step,latitude,longitude,number,surface,valid_time,tp
105115,2022-12-31,0 days 23:00:00,51.5,1.000000e-01,0,0.0,2022-12-31 23:00:00,0.008670
105116,2022-12-31,0 days 23:00:00,51.4,-2.000000e-01,0,0.0,2022-12-31 23:00:00,0.009620
105117,2022-12-31,0 days 23:00:00,51.4,-1.000000e-01,0,0.0,2022-12-31 23:00:00,0.010117
105118,2022-12-31,0 days 23:00:00,51.4,2.775558e-17,0,0.0,2022-12-31 23:00:00,0.010687
105119,2022-12-31,0 days 23:00:00,51.4,1.000000e-01,0,0.0,2022-12-31 23:00:00,0.010271

In [ ]:
out_file = "london_era5land_hourly_tp_2025"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\nğŸ‰ Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df_2025 = process_my_data(ds, "2025_london_era5_precipitation")

In [2]:
df_2025 = pd.read_csv('./data/2025_london_era5_precipitation_time_series.csv', comment='#')
df_2025.head()

              step  number  surface           valid_time            tp
0  1 days 00:00:00       0      0.0  2025-01-01 00:00:00  1.214221e-04
1  0 days 01:00:00       0      0.0  2025-01-01 01:00:00  9.459133e-07
2  0 days 02:00:00       0      0.0  2025-01-01 02:00:00  1.864197e-06
3  0 days 03:00:00       0      0.0  2025-01-01 03:00:00  1.998929e-06
4  0 days 04:00:00       0      0.0  2025-01-01 04:00:00  2.486942e-06

In [4]:
df_2025.dtypes

step           object
number          int64
surface       float64
valid_time     object
tp            float64
dtype: object

In [5]:
out_file = "london_era5land_hourly_tp_2024"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\nğŸ‰ Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df_2024 = process_my_data(ds, "2024_london_era5_precipitation")

ğŸŒ§ï¸  Processing London Precipitation Data
==================================================
ğŸ“¦ Extracting ZIP file: london_era5land_hourly_tp_2024.grib
ğŸ“‹ Files in archive: ['data.grib']
âœ… Extracted to: .
ğŸ¯ Found GRIB file: data.grib
ğŸ“Š Loading GRIB file: data.grib
ğŸ”„ Trying cfgrib...

c:\ProgramData\anaconda3\Lib\site-packages\cfgrib\xarray_plugin.py:131: FutureWarning: In a future version, xarray will not decode timedelta values based on the presence of a timedelta-like units attribute by default. Instead it will rely on the presence of a timedelta64 dtype attribute, which is now xarray's default way of encoding timedelta64 values. To continue decoding timedeltas based on the presence of a timedelta-like units attribute, users will need to explicitly opt-in by passing True or CFTimedeltaCoder(decode_via_units=True) to decode_timedelta. To silence this warning, set decode_timedelta to True, False, or a 'CFTimedeltaCoder' instance.
  vars, attrs, coord_names = xr.conventions.decode_cf_variables(
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:131: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"ğŸ“ Dataset dimensions: {dict(ds.dims)}")
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:260: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"ğŸ“ Dimensions: {dict(ds.dims)}")

âœ… Success with cfgrib!
ğŸ“ Dataset dimensions: {'time': 367, 'step': 24, 'latitude': 3, 'longitude': 4}
ğŸ“Š Variables: ['tp']

ğŸ“ˆ Data Summary:
==============================
ğŸ—ºï¸  Coordinates:
   number: 0
   time: 2023-12-31T00:00:00.000000000 to 2024-12-31T00:00:00.000000000 (367 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: 51.4 to 51.6 (3 points)
   longitude: -0.2 to 0.1 (4 points)
   valid_time: 2023-12-31T01:00:00.000000000 to 2025-01-01T00:00:00.000000000 (8808 points)

ğŸ“Š Data Variables:
   tp: ('time', 'step', 'latitude', 'longitude') - Total precipitation
      Units: m

ğŸ‰ Success! Dataset loaded successfully.

To work with your data:
1. Use ds[variable_name] to access variables
2. Use ds.sel() or ds.isel() to select data
3. Use ds.plot() for quick visualizations
ğŸŒ§ï¸  Processing Your London Precipitation Data
==================================================
ğŸ” Dataset Structure Analysis
========================================
ğŸ“ Dimensions: {'time': 367, 'step': 24, 'latitude': 3, 'longitude': 4}
ğŸ“Š Variables: ['tp']
ğŸ—ºï¸  Coordinates: ['number', 'time', 'step', 'surface', 'latitude', 'longitude', 'valid_time']

ğŸ“ Coordinate Details:
   number: 0
   time: 2023-12-31T00:00:00.000000000 to 2024-12-31T00:00:00.000000000 (367 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: [51.6 51.5 51.4]
   longitude: [-2.00000000e-01 -1.00000000e-01  2.77555756e-17  1.00000000e-01]
   valid_time: ['2023-12-31T01:00:00.000000000' '2023-12-31T02:00:00.000000000'
 '2023-12-31T03:00:00.000000000' '2023-12-31T04:00:00.000000000'
 '2023-12-31T05:00:00.000000000' '2023-12-31T06:00:00.000000000'
 '2023-12-31T07:00:00.000000000' '2023-12-31T08:00:00.000000000'
 '2023-12-31T09:00:00.000000000' '2023-12-31T10:00:00.000000000'
 '2023-12-31T11:00:00.000000000' '2023-12-31T12:00:00.000000000'
 '2023-12-31T13:00:00.000000000' '2023-12-31T14:00:00.000000000'
 '2023-12-31T15:00:00.000000000' '2023-12-31T16:00:00.000000000'
 '2023-12-31T17:00:00.000000000' '2023-12-31T18:00:00.000000000'
 '2023-12-31T19:00:00.000000000' '2023-12-31T20:00:00.000000000'
 '2023-12-31T21:00:00.000000000' '2023-12-31T22:00:00.000000000'
 '2023-12-31T23:00:00.000000000' '2024-01-01T00:00:00.000000000'] to ['2024-12-31T01:00:00.000000000' '2024-12-31T02:00:00.000000000'
 '2024-12-31T03:00:00.000000000' '2024-12-31T04:00:00.000000000'
 '2024-12-31T05:00:00.000000000' '2024-12-31T06:00:00.000000000'
 '2024-12-31T07:00:00.000000000' '2024-12-31T08:00:00.000000000'
 '2024-12-31T09:00:00.000000000' '2024-12-31T10:00:00.000000000'
 '2024-12-31T11:00:00.000000000' '2024-12-31T12:00:00.000000000'
 '2024-12-31T13:00:00.000000000' '2024-12-31T14:00:00.000000000'
 '2024-12-31T15:00:00.000000000' '2024-12-31T16:00:00.000000000'
 '2024-12-31T17:00:00.000000000' '2024-12-31T18:00:00.000000000'
 '2024-12-31T19:00:00.000000000' '2024-12-31T20:00:00.000000000'
 '2024-12-31T21:00:00.000000000' '2024-12-31T22:00:00.000000000'
 '2024-12-31T23:00:00.000000000' '2025-01-01T00:00:00.000000000'] (8808 points)

ğŸ“Š Variable Details:
   tp:
      Shape: (367, 24, 3, 4)
      Dimensions: ('time', 'step', 'latitude', 'longitude')
      Units: m
      Description: Total precipitation
      Data range: 0.0 to 0.023042548447847366

==================================================
ğŸš€ Creating multiple CSV formats...
========================================
ğŸ“Š Converting to Long Format DataFrame...
âœ… Created DataFrame with 105408 rows and 8 columns
ğŸ“Š Columns: ['time', 'step', 'latitude', 'longitude', 'number', 'surface', 'valid_time', 'tp']
ğŸ’¾ Saving DataFrame to: 2024_london_era5_precipitation_long_format.csv
âœ… Saved successfully! File size: 8.45 MB
ğŸ“Š Long format sample:
          time   step  latitude     longitude  number  surface valid_time  \
276 2023-12-31 1 days      51.6 -2.000000e-01       0      0.0 2024-01-01
277 2023-12-31 1 days      51.6 -1.000000e-01       0      0.0 2024-01-01
278 2023-12-31 1 days      51.6  2.775558e-17       0      0.0 2024-01-01
279 2023-12-31 1 days      51.6  1.000000e-01       0      0.0 2024-01-01
280 2023-12-31 1 days      51.5 -2.000000e-01       0      0.0 2024-01-01

           tp
276  0.007288
277  0.007406
278  0.007525
279  0.007557
280  0.007369

ğŸ“ˆ Converting to Time Series DataFrame (spatial aggregation: mean)...
   Aggregated 2 spatial dimensions using mean
âœ… Created time series DataFrame with 8784 rows and 5 columns
ğŸ’¾ Saving DataFrame to: 2024_london_era5_precipitation_time_series.csv
âœ… Saved successfully! File size: 0.46 MB
ğŸ“ˆ Time series sample:
                      step  number  surface          valid_time       tp
time
2023-12-31 1 days 00:00:00       0      0.0 2024-01-01 00:00:00  0.00754
2024-01-01 0 days 01:00:00       0      0.0 2024-01-01 01:00:00  0.00000
2024-01-01 0 days 02:00:00       0      0.0 2024-01-01 02:00:00  0.00000
2024-01-01 0 days 03:00:00       0      0.0 2024-01-01 03:00:00  0.00000
2024-01-01 0 days 04:00:00       0      0.0 2024-01-01 04:00:00  0.00000

ğŸ—ºï¸  Converting to Spatial DataFrame (time aggregation: mean)...
   Aggregated time dimension using mean
âœ… Created spatial DataFrame with 288 rows and 6 columns
ğŸ’¾ Saving DataFrame to: 2024_london_era5_precipitation_spatial_average.csv
âœ… Saved successfully! File size: 0.02 MB
ğŸ—ºï¸  Spatial average sample:
             step  latitude     longitude  number  surface        tp
0 0 days 01:00:00      51.6 -2.000000e-01       0      0.0  0.000086
1 0 days 01:00:00      51.6 -1.000000e-01       0      0.0  0.000081
2 0 days 01:00:00      51.6  2.775558e-17       0      0.0  0.000076
3 0 days 01:00:00      51.6  1.000000e-01       0      0.0  0.000075
4 0 days 01:00:00      51.5 -2.000000e-01       0      0.0  0.000090


ğŸ‰ Processing complete! Created 3 files:
   ğŸ“„ long_format: 2024_london_era5_precipitation_long_format.csv
   ğŸ“„ time_series: 2024_london_era5_precipitation_time_series.csv
   ğŸ“„ spatial_average: 2024_london_era5_precipitation_spatial_average.csv

ğŸ’¡ Returning long format DataFrame with 105408 rows

In [8]:
out_file = "london_era5land_hourly_tp_2023"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\nğŸ‰ Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df_2024 = process_my_data(ds, "2023_london_era5_precipitation")

ğŸŒ§ï¸  Processing London Precipitation Data
==================================================
ğŸ“¦ Extracting ZIP file: london_era5land_hourly_tp_2023.grib
ğŸ“‹ Files in archive: ['data.grib']
âœ… Extracted to: .
ğŸ¯ Found GRIB file: data.grib
ğŸ“Š Loading GRIB file: data.grib
ğŸ”„ Trying cfgrib...

c:\ProgramData\anaconda3\Lib\site-packages\cfgrib\xarray_plugin.py:131: FutureWarning: In a future version, xarray will not decode timedelta values based on the presence of a timedelta-like units attribute by default. Instead it will rely on the presence of a timedelta64 dtype attribute, which is now xarray's default way of encoding timedelta64 values. To continue decoding timedeltas based on the presence of a timedelta-like units attribute, users will need to explicitly opt-in by passing True or CFTimedeltaCoder(decode_via_units=True) to decode_timedelta. To silence this warning, set decode_timedelta to True, False, or a 'CFTimedeltaCoder' instance.
  vars, attrs, coord_names = xr.conventions.decode_cf_variables(
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:131: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"ğŸ“ Dataset dimensions: {dict(ds.dims)}")
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:260: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"ğŸ“ Dimensions: {dict(ds.dims)}")

âœ… Success with cfgrib!
ğŸ“ Dataset dimensions: {'time': 366, 'step': 24, 'latitude': 3, 'longitude': 4}
ğŸ“Š Variables: ['tp']

ğŸ“ˆ Data Summary:
==============================
ğŸ—ºï¸  Coordinates:
   number: 0
   time: 2022-12-31T00:00:00.000000000 to 2023-12-31T00:00:00.000000000 (366 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: 51.4 to 51.6 (3 points)
   longitude: -0.2 to 0.1 (4 points)
   valid_time: 2022-12-31T01:00:00.000000000 to 2024-01-01T00:00:00.000000000 (8784 points)

ğŸ“Š Data Variables:
   tp: ('time', 'step', 'latitude', 'longitude') - Total precipitation
      Units: m

ğŸ‰ Success! Dataset loaded successfully.

To work with your data:
1. Use ds[variable_name] to access variables
2. Use ds.sel() or ds.isel() to select data
3. Use ds.plot() for quick visualizations
ğŸŒ§ï¸  Processing Your London Precipitation Data
==================================================
ğŸ” Dataset Structure Analysis
========================================
ğŸ“ Dimensions: {'time': 366, 'step': 24, 'latitude': 3, 'longitude': 4}
ğŸ“Š Variables: ['tp']
ğŸ—ºï¸  Coordinates: ['number', 'time', 'step', 'surface', 'latitude', 'longitude', 'valid_time']

ğŸ“ Coordinate Details:
   number: 0
   time: 2022-12-31T00:00:00.000000000 to 2023-12-31T00:00:00.000000000 (366 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: [51.6 51.5 51.4]
   longitude: [-2.00000000e-01 -1.00000000e-01  2.77555756e-17  1.00000000e-01]
   valid_time: ['2022-12-31T01:00:00.000000000' '2022-12-31T02:00:00.000000000'
 '2022-12-31T03:00:00.000000000' '2022-12-31T04:00:00.000000000'
 '2022-12-31T05:00:00.000000000' '2022-12-31T06:00:00.000000000'
 '2022-12-31T07:00:00.000000000' '2022-12-31T08:00:00.000000000'
 '2022-12-31T09:00:00.000000000' '2022-12-31T10:00:00.000000000'
 '2022-12-31T11:00:00.000000000' '2022-12-31T12:00:00.000000000'
 '2022-12-31T13:00:00.000000000' '2022-12-31T14:00:00.000000000'
 '2022-12-31T15:00:00.000000000' '2022-12-31T16:00:00.000000000'
 '2022-12-31T17:00:00.000000000' '2022-12-31T18:00:00.000000000'
 '2022-12-31T19:00:00.000000000' '2022-12-31T20:00:00.000000000'
 '2022-12-31T21:00:00.000000000' '2022-12-31T22:00:00.000000000'
 '2022-12-31T23:00:00.000000000' '2023-01-01T00:00:00.000000000'] to ['2023-12-31T01:00:00.000000000' '2023-12-31T02:00:00.000000000'
 '2023-12-31T03:00:00.000000000' '2023-12-31T04:00:00.000000000'
 '2023-12-31T05:00:00.000000000' '2023-12-31T06:00:00.000000000'
 '2023-12-31T07:00:00.000000000' '2023-12-31T08:00:00.000000000'
 '2023-12-31T09:00:00.000000000' '2023-12-31T10:00:00.000000000'
 '2023-12-31T11:00:00.000000000' '2023-12-31T12:00:00.000000000'
 '2023-12-31T13:00:00.000000000' '2023-12-31T14:00:00.000000000'
 '2023-12-31T15:00:00.000000000' '2023-12-31T16:00:00.000000000'
 '2023-12-31T17:00:00.000000000' '2023-12-31T18:00:00.000000000'
 '2023-12-31T19:00:00.000000000' '2023-12-31T20:00:00.000000000'
 '2023-12-31T21:00:00.000000000' '2023-12-31T22:00:00.000000000'
 '2023-12-31T23:00:00.000000000' '2024-01-01T00:00:00.000000000'] (8784 points)

ğŸ“Š Variable Details:
   tp:
      Shape: (366, 24, 3, 4)
      Dimensions: ('time', 'step', 'latitude', 'longitude')
      Units: m
      Description: Total precipitation
      Data range: 0.0 to 0.019860848784446716

==================================================
ğŸš€ Creating multiple CSV formats...
========================================
ğŸ“Š Converting to Long Format DataFrame...
âœ… Created DataFrame with 105120 rows and 8 columns
ğŸ“Š Columns: ['time', 'step', 'latitude', 'longitude', 'number', 'surface', 'valid_time', 'tp']
ğŸ’¾ Saving DataFrame to: 2023_london_era5_precipitation_long_format.csv
âœ… Saved successfully! File size: 8.41 MB
ğŸ“Š Long format sample:
          time   step  latitude     longitude  number  surface valid_time  \
276 2022-12-31 1 days      51.6 -2.000000e-01       0      0.0 2023-01-01
277 2022-12-31 1 days      51.6 -1.000000e-01       0      0.0 2023-01-01
278 2022-12-31 1 days      51.6  2.775558e-17       0      0.0 2023-01-01
279 2022-12-31 1 days      51.6  1.000000e-01       0      0.0 2023-01-01
280 2022-12-31 1 days      51.5 -2.000000e-01       0      0.0 2023-01-01

           tp
276  0.006293
277  0.006996
278  0.007697
279  0.007415
280  0.007895

ğŸ“ˆ Converting to Time Series DataFrame (spatial aggregation: mean)...
   Aggregated 2 spatial dimensions using mean
âœ… Created time series DataFrame with 8760 rows and 5 columns
ğŸ’¾ Saving DataFrame to: 2023_london_era5_precipitation_time_series.csv
âœ… Saved successfully! File size: 0.46 MB
ğŸ“ˆ Time series sample:
                      step  number  surface          valid_time        tp
time
2022-12-31 1 days 00:00:00       0      0.0 2023-01-01 00:00:00  0.008758
2023-01-01 0 days 01:00:00       0      0.0 2023-01-01 01:00:00  0.000136
2023-01-01 0 days 02:00:00       0      0.0 2023-01-01 02:00:00  0.000141
2023-01-01 0 days 03:00:00       0      0.0 2023-01-01 03:00:00  0.000141
2023-01-01 0 days 04:00:00       0      0.0 2023-01-01 04:00:00  0.000148

ğŸ—ºï¸  Converting to Spatial DataFrame (time aggregation: mean)...
   Aggregated time dimension using mean
âœ… Created spatial DataFrame with 288 rows and 6 columns
ğŸ’¾ Saving DataFrame to: 2023_london_era5_precipitation_spatial_average.csv
âœ… Saved successfully! File size: 0.02 MB
ğŸ—ºï¸  Spatial average sample:
             step  latitude     longitude  number  surface        tp
0 0 days 01:00:00      51.6 -2.000000e-01       0      0.0  0.000099
1 0 days 01:00:00      51.6 -1.000000e-01       0      0.0  0.000101
2 0 days 01:00:00      51.6  2.775558e-17       0      0.0  0.000103
3 0 days 01:00:00      51.6  1.000000e-01       0      0.0  0.000104
4 0 days 01:00:00      51.5 -2.000000e-01       0      0.0  0.000097


ğŸ‰ Processing complete! Created 3 files:
   ğŸ“„ long_format: 2023_london_era5_precipitation_long_format.csv
   ğŸ“„ time_series: 2023_london_era5_precipitation_time_series.csv
   ğŸ“„ spatial_average: 2023_london_era5_precipitation_spatial_average.csv

ğŸ’¡ Returning long format DataFrame with 105120 rows

In [9]:
df_2024.shape

(105120, 8)