In [1]:
import pandas as pd
import numpy as np
import os, glob

from src.manage_grib_files import process_london_precipitation_data, process_my_data

In [3]:
# out_file = "./grib/london_era5land_hourly_t2m_2025"
# grib_file = out_file + '.grib'

# ds = process_london_precipitation_data(grib_file)
    
# if ds is not None:
#     print("\n🎉 Success! Dataset loaded successfully.")
#     print("\nTo work with your data:")
#     print("1. Use ds[variable_name] to access variables")
#     print("2. Use ds.sel() or ds.isel() to select data")
#     print("3. Use ds.plot() for quick visualizations")

# df = process_my_data(ds, "2025_london_era5_temperature")

# for filename in glob.glob("./grib/data*"):
#     os.remove(filename)

In [4]:
# year = 1998
# area = 'london'

# out_file = './grib/' + area + '_era5land_hourly_tp_' + str(year)
# grib_file = out_file + '.grib'

# print(grib_file)
# file_process = str(year) + '_' + area + '_era5_precipitation'
# print(file_process)

# ds = process_london_precipitation_data(grib_file)
    
# if ds is not None:
#     print("\n🎉 Success! Dataset loaded successfully.")
#     print("\nTo work with your data:")
#     print("1. Use ds[variable_name] to access variables")
#     print("2. Use ds.sel() or ds.isel() to select data")
#     print("3. Use ds.plot() for quick visualizations")

# df = process_my_data(ds, file_process)

# for filename in glob.glob("./grib/data*"):
#     os.remove(filename)

In [7]:
years = np.arange(2010, 2011)
area = 'puglia'


for year in years:
    out_file = './grib/' + area + '_era5land_hourly_tp_' + str(year)
    grib_file = out_file + '.grib'

    file_process = str(year) + '_' + area + '_era5_precipitation'

    ds = process_london_precipitation_data(grib_file)
        
    if ds is not None:
        print("\n🎉 Success! Dataset loaded successfully.")
        print("\nTo work with your data:")
        print("1. Use ds[variable_name] to access variables")
        print("2. Use ds.sel() or ds.isel() to select data")
        print("3. Use ds.plot() for quick visualizations")

    df = process_my_data(ds, file_process)

    for filename in glob.glob("./grib/data*"):
        os.remove(filename)

🌧️  Processing London Precipitation Data
==================================================
📦 Extracting ZIP file: ./grib/puglia_era5land_hourly_tp_2010.grib
📋 Files in archive: ['data.grib']
✅ Extracted to: grib
🎯 Found GRIB file: data.grib
📊 Loading GRIB file: grib\data.grib
🔄 Trying cfgrib...

c:\ProgramData\anaconda3\Lib\site-packages\cfgrib\xarray_plugin.py:131: FutureWarning: In a future version, xarray will not decode timedelta values based on the presence of a timedelta-like units attribute by default. Instead it will rely on the presence of a timedelta64 dtype attribute, which is now xarray's default way of encoding timedelta64 values. To continue decoding timedeltas based on the presence of a timedelta-like units attribute, users will need to explicitly opt-in by passing True or CFTimedeltaCoder(decode_via_units=True) to decode_timedelta. To silence this warning, set decode_timedelta to True, False, or a 'CFTimedeltaCoder' instance.
  vars, attrs, coord_names = xr.conventions.decode_cf_variables(
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:131: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"📏 Dataset dimensions: {dict(ds.dims)}")
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:260: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"📏 Dimensions: {dict(ds.dims)}")

✅ Success with cfgrib!
📏 Dataset dimensions: {'time': 366, 'step': 24, 'latitude': 18, 'longitude': 33}
📊 Variables: ['tp']

📈 Data Summary:
==============================
🗺️  Coordinates:
   number: 0
   time: 2009-12-31T00:00:00.000000000 to 2010-12-31T00:00:00.000000000 (366 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: 40.2 to 41.9 (18 points)
   longitude: 15.3 to 18.5 (33 points)
   valid_time: 2009-12-31T01:00:00.000000000 to 2011-01-01T00:00:00.000000000 (8784 points)

📊 Data Variables:
   tp: ('time', 'step', 'latitude', 'longitude') - Total precipitation
      Units: m

🎉 Success! Dataset loaded successfully.

To work with your data:
1. Use ds[variable_name] to access variables
2. Use ds.sel() or ds.isel() to select data
3. Use ds.plot() for quick visualizations
🌧️  Processing Your London Precipitation Data
==================================================
🔍 Dataset Structure Analysis
========================================
📏 Dimensions: {'time': 366, 'step': 24, 'latitude': 18, 'longitude': 33}
📊 Variables: ['tp']
🗺️  Coordinates: ['number', 'time', 'step', 'surface', 'latitude', 'longitude', 'valid_time']

📍 Coordinate Details:
   number: 0
   time: 2009-12-31T00:00:00.000000000 to 2010-12-31T00:00:00.000000000 (366 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: 41.9 to 40.2 (18 points)
   longitude: 15.3 to 18.5 (33 points)
   valid_time: ['2009-12-31T01:00:00.000000000' '2009-12-31T02:00:00.000000000'
 '2009-12-31T03:00:00.000000000' '2009-12-31T04:00:00.000000000'
 '2009-12-31T05:00:00.000000000' '2009-12-31T06:00:00.000000000'
 '2009-12-31T07:00:00.000000000' '2009-12-31T08:00:00.000000000'
 '2009-12-31T09:00:00.000000000' '2009-12-31T10:00:00.000000000'
 '2009-12-31T11:00:00.000000000' '2009-12-31T12:00:00.000000000'
 '2009-12-31T13:00:00.000000000' '2009-12-31T14:00:00.000000000'
 '2009-12-31T15:00:00.000000000' '2009-12-31T16:00:00.000000000'
 '2009-12-31T17:00:00.000000000' '2009-12-31T18:00:00.000000000'
 '2009-12-31T19:00:00.000000000' '2009-12-31T20:00:00.000000000'
 '2009-12-31T21:00:00.000000000' '2009-12-31T22:00:00.000000000'
 '2009-12-31T23:00:00.000000000' '2010-01-01T00:00:00.000000000'] to ['2010-12-31T01:00:00.000000000' '2010-12-31T02:00:00.000000000'
 '2010-12-31T03:00:00.000000000' '2010-12-31T04:00:00.000000000'
 '2010-12-31T05:00:00.000000000' '2010-12-31T06:00:00.000000000'
 '2010-12-31T07:00:00.000000000' '2010-12-31T08:00:00.000000000'
 '2010-12-31T09:00:00.000000000' '2010-12-31T10:00:00.000000000'
 '2010-12-31T11:00:00.000000000' '2010-12-31T12:00:00.000000000'
 '2010-12-31T13:00:00.000000000' '2010-12-31T14:00:00.000000000'
 '2010-12-31T15:00:00.000000000' '2010-12-31T16:00:00.000000000'
 '2010-12-31T17:00:00.000000000' '2010-12-31T18:00:00.000000000'
 '2010-12-31T19:00:00.000000000' '2010-12-31T20:00:00.000000000'
 '2010-12-31T21:00:00.000000000' '2010-12-31T22:00:00.000000000'
 '2010-12-31T23:00:00.000000000' '2011-01-01T00:00:00.000000000'] (8784 points)

📊 Variable Details:
   tp:
      Shape: (366, 24, 18, 33)
      Dimensions: ('time', 'step', 'latitude', 'longitude')
      Units: m
      Description: Total precipitation
      Data range: 0.0 to 0.09787493944168091

==================================================
🚀 Creating multiple CSV formats...
========================================
📊 Converting to Long Format DataFrame...
✅ Created DataFrame with 2680560 rows and 8 columns
📊 Columns: ['time', 'step', 'latitude', 'longitude', 'number', 'surface', 'valid_time', 'tp']
💾 Saving DataFrame to: 2010_puglia_era5_precipitation_long_format.csv
✅ Saved successfully! File size: 244.47 MB
📊 Long format sample:
            time   step  latitude  longitude  number  surface valid_time  \
13663 2009-12-31 1 days      41.9       15.4       0      0.0 2010-01-01
13664 2009-12-31 1 days      41.9       15.5       0      0.0 2010-01-01
13667 2009-12-31 1 days      41.9       15.8       0      0.0 2010-01-01
13668 2009-12-31 1 days      41.9       15.9       0      0.0 2010-01-01
13669 2009-12-31 1 days      41.9       16.0       0      0.0 2010-01-01

                 tp
13663  7.736683e-06
13664  4.351138e-07
13667  4.351138e-07
13668  6.437301e-07
13669  1.388788e-06

📈 Converting to Time Series DataFrame (spatial aggregation: mean)...
   Aggregated 2 spatial dimensions using mean
✅ Created time series DataFrame with 8760 rows and 5 columns
💾 Saving DataFrame to: 2010_puglia_era5_precipitation_time_series.csv
✅ Saved successfully! File size: 0.47 MB
📈 Time series sample:
                      step  number  surface          valid_time        tp
time
2009-12-31 1 days 00:00:00       0      0.0 2010-01-01 00:00:00  0.000027
2010-01-01 0 days 01:00:00       0      0.0 2010-01-01 01:00:00  0.000138
2010-01-01 0 days 02:00:00       0      0.0 2010-01-01 02:00:00  0.000284
2010-01-01 0 days 03:00:00       0      0.0 2010-01-01 03:00:00  0.000386
2010-01-01 0 days 04:00:00       0      0.0 2010-01-01 04:00:00  0.000469

🗺️  Converting to Spatial DataFrame (time aggregation: mean)...
   Aggregated time dimension using mean
✅ Created spatial DataFrame with 7344 rows and 6 columns
💾 Saving DataFrame to: 2010_puglia_era5_precipitation_spatial_average.csv
✅ Saved successfully! File size: 0.47 MB
🗺️  Spatial average sample:
             step  latitude  longitude  number  surface        tp
1 0 days 01:00:00      41.9       15.4       0      0.0  0.000082
2 0 days 01:00:00      41.9       15.5       0      0.0  0.000078
5 0 days 01:00:00      41.9       15.8       0      0.0  0.000082
6 0 days 01:00:00      41.9       15.9       0      0.0  0.000086
7 0 days 01:00:00      41.9       16.0       0      0.0  0.000088


🎉 Processing complete! Created 3 files:
   📄 long_format: 2010_puglia_era5_precipitation_long_format.csv
   📄 time_series: 2010_puglia_era5_precipitation_time_series.csv
   📄 spatial_average: 2010_puglia_era5_precipitation_spatial_average.csv

💡 Returning long format DataFrame with 2680560 rows

In [21]:
years = np.arange(2000, 2005)
area = 'london'


for year in years:
    out_file = './grib/' + area + '_era5land_hourly_tp_' + str(year)
    grib_file = out_file + '.grib'

    file_process = str(year) + '_' + area + '_era5_precipitation'

    ds = process_london_precipitation_data(grib_file)
        
    if ds is not None:
        print("\n🎉 Success! Dataset loaded successfully.")
        print("\nTo work with your data:")
        print("1. Use ds[variable_name] to access variables")
        print("2. Use ds.sel() or ds.isel() to select data")
        print("3. Use ds.plot() for quick visualizations")

    df = process_my_data(ds, file_process)

    for filename in glob.glob("./grib/data*"):
        os.remove(filename)

🌧️  Processing London Precipitation Data
==================================================
📦 Extracting ZIP file: ./grib/london_era5land_hourly_tp_2000.grib
📋 Files in archive: ['data.grib']
✅ Extracted to: grib
🎯 Found GRIB file: data.grib
📊 Loading GRIB file: grib\data.grib
🔄 Trying cfgrib...

c:\ProgramData\anaconda3\Lib\site-packages\cfgrib\xarray_plugin.py:131: FutureWarning: In a future version, xarray will not decode timedelta values based on the presence of a timedelta-like units attribute by default. Instead it will rely on the presence of a timedelta64 dtype attribute, which is now xarray's default way of encoding timedelta64 values. To continue decoding timedeltas based on the presence of a timedelta-like units attribute, users will need to explicitly opt-in by passing True or CFTimedeltaCoder(decode_via_units=True) to decode_timedelta. To silence this warning, set decode_timedelta to True, False, or a 'CFTimedeltaCoder' instance.
  vars, attrs, coord_names = xr.conventions.decode_cf_variables(
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:131: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"📏 Dataset dimensions: {dict(ds.dims)}")
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:260: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"📏 Dimensions: {dict(ds.dims)}")

✅ Success with cfgrib!
📏 Dataset dimensions: {'time': 367, 'step': 24, 'latitude': 3, 'longitude': 4}
📊 Variables: ['tp']

📈 Data Summary:
==============================
🗺️  Coordinates:
   number: 0
   time: 1999-12-31T00:00:00.000000000 to 2000-12-31T00:00:00.000000000 (367 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: 51.4 to 51.6 (3 points)
   longitude: -0.2 to 0.1 (4 points)
   valid_time: 1999-12-31T01:00:00.000000000 to 2001-01-01T00:00:00.000000000 (8808 points)

📊 Data Variables:
   tp: ('time', 'step', 'latitude', 'longitude') - Total precipitation
      Units: m

🎉 Success! Dataset loaded successfully.

To work with your data:
1. Use ds[variable_name] to access variables
2. Use ds.sel() or ds.isel() to select data
3. Use ds.plot() for quick visualizations
🌧️  Processing Your London Precipitation Data
==================================================
🔍 Dataset Structure Analysis
========================================
📏 Dimensions: {'time': 367, 'step': 24, 'latitude': 3, 'longitude': 4}
📊 Variables: ['tp']
🗺️  Coordinates: ['number', 'time', 'step', 'surface', 'latitude', 'longitude', 'valid_time']

📍 Coordinate Details:
   number: 0
   time: 1999-12-31T00:00:00.000000000 to 2000-12-31T00:00:00.000000000 (367 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: [51.6 51.5 51.4]
   longitude: [-2.00000000e-01 -1.00000000e-01  2.77555756e-17  1.00000000e-01]
   valid_time: ['1999-12-31T01:00:00.000000000' '1999-12-31T02:00:00.000000000'
 '1999-12-31T03:00:00.000000000' '1999-12-31T04:00:00.000000000'
 '1999-12-31T05:00:00.000000000' '1999-12-31T06:00:00.000000000'
 '1999-12-31T07:00:00.000000000' '1999-12-31T08:00:00.000000000'
 '1999-12-31T09:00:00.000000000' '1999-12-31T10:00:00.000000000'
 '1999-12-31T11:00:00.000000000' '1999-12-31T12:00:00.000000000'
 '1999-12-31T13:00:00.000000000' '1999-12-31T14:00:00.000000000'
 '1999-12-31T15:00:00.000000000' '1999-12-31T16:00:00.000000000'
 '1999-12-31T17:00:00.000000000' '1999-12-31T18:00:00.000000000'
 '1999-12-31T19:00:00.000000000' '1999-12-31T20:00:00.000000000'
 '1999-12-31T21:00:00.000000000' '1999-12-31T22:00:00.000000000'
 '1999-12-31T23:00:00.000000000' '2000-01-01T00:00:00.000000000'] to ['2000-12-31T01:00:00.000000000' '2000-12-31T02:00:00.000000000'
 '2000-12-31T03:00:00.000000000' '2000-12-31T04:00:00.000000000'
 '2000-12-31T05:00:00.000000000' '2000-12-31T06:00:00.000000000'
 '2000-12-31T07:00:00.000000000' '2000-12-31T08:00:00.000000000'
 '2000-12-31T09:00:00.000000000' '2000-12-31T10:00:00.000000000'
 '2000-12-31T11:00:00.000000000' '2000-12-31T12:00:00.000000000'
 '2000-12-31T13:00:00.000000000' '2000-12-31T14:00:00.000000000'
 '2000-12-31T15:00:00.000000000' '2000-12-31T16:00:00.000000000'
 '2000-12-31T17:00:00.000000000' '2000-12-31T18:00:00.000000000'
 '2000-12-31T19:00:00.000000000' '2000-12-31T20:00:00.000000000'
 '2000-12-31T21:00:00.000000000' '2000-12-31T22:00:00.000000000'
 '2000-12-31T23:00:00.000000000' '2001-01-01T00:00:00.000000000'] (8808 points)

📊 Variable Details:
   tp:
      Shape: (367, 24, 3, 4)
      Dimensions: ('time', 'step', 'latitude', 'longitude')
      Units: m
      Description: Total precipitation
      Data range: 0.0 to 0.03247427940368652

==================================================
🚀 Creating multiple CSV formats...
========================================
📊 Converting to Long Format DataFrame...
✅ Created DataFrame with 105408 rows and 8 columns
📊 Columns: ['time', 'step', 'latitude', 'longitude', 'number', 'surface', 'valid_time', 'tp']
💾 Saving DataFrame to: 2000_london_era5_precipitation_long_format.csv
✅ Saved successfully! File size: 8.47 MB
📊 Long format sample:
          time   step  latitude     longitude  number  surface valid_time  \
276 1999-12-31 1 days      51.6 -2.000000e-01       0      0.0 2000-01-01
277 1999-12-31 1 days      51.6 -1.000000e-01       0      0.0 2000-01-01
278 1999-12-31 1 days      51.6  2.775558e-17       0      0.0 2000-01-01
279 1999-12-31 1 days      51.6  1.000000e-01       0      0.0 2000-01-01
280 1999-12-31 1 days      51.5 -2.000000e-01       0      0.0 2000-01-01

           tp
276  0.000115
277  0.000110
278  0.000106
279  0.000115
280  0.000108

📈 Converting to Time Series DataFrame (spatial aggregation: mean)...
   Aggregated 2 spatial dimensions using mean
✅ Created time series DataFrame with 8784 rows and 5 columns
💾 Saving DataFrame to: 2000_london_era5_precipitation_time_series.csv
✅ Saved successfully! File size: 0.46 MB
📈 Time series sample:
                      step  number  surface          valid_time        tp
time
1999-12-31 1 days 00:00:00       0      0.0 2000-01-01 00:00:00  0.000100
2000-01-01 0 days 01:00:00       0      0.0 2000-01-01 01:00:00  0.000008
2000-01-01 0 days 02:00:00       0      0.0 2000-01-01 02:00:00  0.000018
2000-01-01 0 days 03:00:00       0      0.0 2000-01-01 03:00:00  0.000084
2000-01-01 0 days 04:00:00       0      0.0 2000-01-01 04:00:00  0.000132

🗺️  Converting to Spatial DataFrame (time aggregation: mean)...
   Aggregated time dimension using mean
✅ Created spatial DataFrame with 288 rows and 6 columns
💾 Saving DataFrame to: 2000_london_era5_precipitation_spatial_average.csv
✅ Saved successfully! File size: 0.02 MB
🗺️  Spatial average sample:
             step  latitude     longitude  number  surface        tp
0 0 days 01:00:00      51.6 -2.000000e-01       0      0.0  0.000085
1 0 days 01:00:00      51.6 -1.000000e-01       0      0.0  0.000083
2 0 days 01:00:00      51.6  2.775558e-17       0      0.0  0.000082
3 0 days 01:00:00      51.6  1.000000e-01       0      0.0  0.000081
4 0 days 01:00:00      51.5 -2.000000e-01       0      0.0  0.000085


🎉 Processing complete! Created 3 files:
   📄 long_format: 2000_london_era5_precipitation_long_format.csv
   📄 time_series: 2000_london_era5_precipitation_time_series.csv
   📄 spatial_average: 2000_london_era5_precipitation_spatial_average.csv

💡 Returning long format DataFrame with 105408 rows
🌧️  Processing London Precipitation Data
==================================================
📦 Extracting ZIP file: ./grib/london_era5land_hourly_tp_2001.grib
📋 Files in archive: ['data.grib']
✅ Extracted to: grib
🎯 Found GRIB file: data.grib
📊 Loading GRIB file: grib\data.grib
🔄 Trying cfgrib...

c:\ProgramData\anaconda3\Lib\site-packages\cfgrib\xarray_plugin.py:131: FutureWarning: In a future version, xarray will not decode timedelta values based on the presence of a timedelta-like units attribute by default. Instead it will rely on the presence of a timedelta64 dtype attribute, which is now xarray's default way of encoding timedelta64 values. To continue decoding timedeltas based on the presence of a timedelta-like units attribute, users will need to explicitly opt-in by passing True or CFTimedeltaCoder(decode_via_units=True) to decode_timedelta. To silence this warning, set decode_timedelta to True, False, or a 'CFTimedeltaCoder' instance.
  vars, attrs, coord_names = xr.conventions.decode_cf_variables(
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:131: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"📏 Dataset dimensions: {dict(ds.dims)}")
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:260: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"📏 Dimensions: {dict(ds.dims)}")

✅ Success with cfgrib!
📏 Dataset dimensions: {'time': 366, 'step': 24, 'latitude': 3, 'longitude': 4}
📊 Variables: ['tp']

📈 Data Summary:
==============================
🗺️  Coordinates:
   number: 0
   time: 2000-12-31T00:00:00.000000000 to 2001-12-31T00:00:00.000000000 (366 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: 51.4 to 51.6 (3 points)
   longitude: -0.2 to 0.1 (4 points)
   valid_time: 2000-12-31T01:00:00.000000000 to 2002-01-01T00:00:00.000000000 (8784 points)

📊 Data Variables:
   tp: ('time', 'step', 'latitude', 'longitude') - Total precipitation
      Units: m

🎉 Success! Dataset loaded successfully.

To work with your data:
1. Use ds[variable_name] to access variables
2. Use ds.sel() or ds.isel() to select data
3. Use ds.plot() for quick visualizations
🌧️  Processing Your London Precipitation Data
==================================================
🔍 Dataset Structure Analysis
========================================
📏 Dimensions: {'time': 366, 'step': 24, 'latitude': 3, 'longitude': 4}
📊 Variables: ['tp']
🗺️  Coordinates: ['number', 'time', 'step', 'surface', 'latitude', 'longitude', 'valid_time']

📍 Coordinate Details:
   number: 0
   time: 2000-12-31T00:00:00.000000000 to 2001-12-31T00:00:00.000000000 (366 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: [51.6 51.5 51.4]
   longitude: [-2.00000000e-01 -1.00000000e-01  2.77555756e-17  1.00000000e-01]
   valid_time: ['2000-12-31T01:00:00.000000000' '2000-12-31T02:00:00.000000000'
 '2000-12-31T03:00:00.000000000' '2000-12-31T04:00:00.000000000'
 '2000-12-31T05:00:00.000000000' '2000-12-31T06:00:00.000000000'
 '2000-12-31T07:00:00.000000000' '2000-12-31T08:00:00.000000000'
 '2000-12-31T09:00:00.000000000' '2000-12-31T10:00:00.000000000'
 '2000-12-31T11:00:00.000000000' '2000-12-31T12:00:00.000000000'
 '2000-12-31T13:00:00.000000000' '2000-12-31T14:00:00.000000000'
 '2000-12-31T15:00:00.000000000' '2000-12-31T16:00:00.000000000'
 '2000-12-31T17:00:00.000000000' '2000-12-31T18:00:00.000000000'
 '2000-12-31T19:00:00.000000000' '2000-12-31T20:00:00.000000000'
 '2000-12-31T21:00:00.000000000' '2000-12-31T22:00:00.000000000'
 '2000-12-31T23:00:00.000000000' '2001-01-01T00:00:00.000000000'] to ['2001-12-31T01:00:00.000000000' '2001-12-31T02:00:00.000000000'
 '2001-12-31T03:00:00.000000000' '2001-12-31T04:00:00.000000000'
 '2001-12-31T05:00:00.000000000' '2001-12-31T06:00:00.000000000'
 '2001-12-31T07:00:00.000000000' '2001-12-31T08:00:00.000000000'
 '2001-12-31T09:00:00.000000000' '2001-12-31T10:00:00.000000000'
 '2001-12-31T11:00:00.000000000' '2001-12-31T12:00:00.000000000'
 '2001-12-31T13:00:00.000000000' '2001-12-31T14:00:00.000000000'
 '2001-12-31T15:00:00.000000000' '2001-12-31T16:00:00.000000000'
 '2001-12-31T17:00:00.000000000' '2001-12-31T18:00:00.000000000'
 '2001-12-31T19:00:00.000000000' '2001-12-31T20:00:00.000000000'
 '2001-12-31T21:00:00.000000000' '2001-12-31T22:00:00.000000000'
 '2001-12-31T23:00:00.000000000' '2002-01-01T00:00:00.000000000'] (8784 points)

📊 Variable Details:
   tp:
      Shape: (366, 24, 3, 4)
      Dimensions: ('time', 'step', 'latitude', 'longitude')
      Units: m
      Description: Total precipitation
      Data range: 0.0 to 0.021790260449051857

==================================================
🚀 Creating multiple CSV formats...
========================================
📊 Converting to Long Format DataFrame...
✅ Created DataFrame with 105120 rows and 8 columns
📊 Columns: ['time', 'step', 'latitude', 'longitude', 'number', 'surface', 'valid_time', 'tp']
💾 Saving DataFrame to: 2001_london_era5_precipitation_long_format.csv
✅ Saved successfully! File size: 8.42 MB
📊 Long format sample:
          time   step  latitude     longitude  number  surface valid_time  \
276 2000-12-31 1 days      51.6 -2.000000e-01       0      0.0 2001-01-01
277 2000-12-31 1 days      51.6 -1.000000e-01       0      0.0 2001-01-01
278 2000-12-31 1 days      51.6  2.775558e-17       0      0.0 2001-01-01
279 2000-12-31 1 days      51.6  1.000000e-01       0      0.0 2001-01-01
280 2000-12-31 1 days      51.5 -2.000000e-01       0      0.0 2001-01-01

           tp
276  0.007046
277  0.006665
278  0.006283
279  0.006082
280  0.007356

📈 Converting to Time Series DataFrame (spatial aggregation: mean)...
   Aggregated 2 spatial dimensions using mean
✅ Created time series DataFrame with 8760 rows and 5 columns
💾 Saving DataFrame to: 2001_london_era5_precipitation_time_series.csv
✅ Saved successfully! File size: 0.46 MB
📈 Time series sample:
                      step  number  surface          valid_time        tp
time
2000-12-31 1 days 00:00:00       0      0.0 2001-01-01 00:00:00  0.006848
2001-01-01 0 days 01:00:00       0      0.0 2001-01-01 01:00:00  0.000666
2001-01-01 0 days 02:00:00       0      0.0 2001-01-01 02:00:00  0.001246
2001-01-01 0 days 03:00:00       0      0.0 2001-01-01 03:00:00  0.001422
2001-01-01 0 days 04:00:00       0      0.0 2001-01-01 04:00:00  0.001455

🗺️  Converting to Spatial DataFrame (time aggregation: mean)...
   Aggregated time dimension using mean
✅ Created spatial DataFrame with 288 rows and 6 columns
💾 Saving DataFrame to: 2001_london_era5_precipitation_spatial_average.csv
✅ Saved successfully! File size: 0.02 MB
🗺️  Spatial average sample:
             step  latitude     longitude  number  surface        tp
0 0 days 01:00:00      51.6 -2.000000e-01       0      0.0  0.000068
1 0 days 01:00:00      51.6 -1.000000e-01       0      0.0  0.000066
2 0 days 01:00:00      51.6  2.775558e-17       0      0.0  0.000064
3 0 days 01:00:00      51.6  1.000000e-01       0      0.0  0.000066
4 0 days 01:00:00      51.5 -2.000000e-01       0      0.0  0.000072


🎉 Processing complete! Created 3 files:
   📄 long_format: 2001_london_era5_precipitation_long_format.csv
   📄 time_series: 2001_london_era5_precipitation_time_series.csv
   📄 spatial_average: 2001_london_era5_precipitation_spatial_average.csv

💡 Returning long format DataFrame with 105120 rows
🌧️  Processing London Precipitation Data
==================================================
📦 Extracting ZIP file: ./grib/london_era5land_hourly_tp_2002.grib
📋 Files in archive: ['data.grib']
✅ Extracted to: grib
🎯 Found GRIB file: data.grib
📊 Loading GRIB file: grib\data.grib
🔄 Trying cfgrib...

c:\ProgramData\anaconda3\Lib\site-packages\cfgrib\xarray_plugin.py:131: FutureWarning: In a future version, xarray will not decode timedelta values based on the presence of a timedelta-like units attribute by default. Instead it will rely on the presence of a timedelta64 dtype attribute, which is now xarray's default way of encoding timedelta64 values. To continue decoding timedeltas based on the presence of a timedelta-like units attribute, users will need to explicitly opt-in by passing True or CFTimedeltaCoder(decode_via_units=True) to decode_timedelta. To silence this warning, set decode_timedelta to True, False, or a 'CFTimedeltaCoder' instance.
  vars, attrs, coord_names = xr.conventions.decode_cf_variables(
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:131: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"📏 Dataset dimensions: {dict(ds.dims)}")
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:260: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"📏 Dimensions: {dict(ds.dims)}")

✅ Success with cfgrib!
📏 Dataset dimensions: {'time': 366, 'step': 24, 'latitude': 3, 'longitude': 4}
📊 Variables: ['tp']

📈 Data Summary:
==============================
🗺️  Coordinates:
   number: 0
   time: 2001-12-31T00:00:00.000000000 to 2002-12-31T00:00:00.000000000 (366 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: 51.4 to 51.6 (3 points)
   longitude: -0.2 to 0.1 (4 points)
   valid_time: 2001-12-31T01:00:00.000000000 to 2003-01-01T00:00:00.000000000 (8784 points)

📊 Data Variables:
   tp: ('time', 'step', 'latitude', 'longitude') - Total precipitation
      Units: m

🎉 Success! Dataset loaded successfully.

To work with your data:
1. Use ds[variable_name] to access variables
2. Use ds.sel() or ds.isel() to select data
3. Use ds.plot() for quick visualizations
🌧️  Processing Your London Precipitation Data
==================================================
🔍 Dataset Structure Analysis
========================================
📏 Dimensions: {'time': 366, 'step': 24, 'latitude': 3, 'longitude': 4}
📊 Variables: ['tp']
🗺️  Coordinates: ['number', 'time', 'step', 'surface', 'latitude', 'longitude', 'valid_time']

📍 Coordinate Details:
   number: 0
   time: 2001-12-31T00:00:00.000000000 to 2002-12-31T00:00:00.000000000 (366 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: [51.6 51.5 51.4]
   longitude: [-2.00000000e-01 -1.00000000e-01  2.77555756e-17  1.00000000e-01]
   valid_time: ['2001-12-31T01:00:00.000000000' '2001-12-31T02:00:00.000000000'
 '2001-12-31T03:00:00.000000000' '2001-12-31T04:00:00.000000000'
 '2001-12-31T05:00:00.000000000' '2001-12-31T06:00:00.000000000'
 '2001-12-31T07:00:00.000000000' '2001-12-31T08:00:00.000000000'
 '2001-12-31T09:00:00.000000000' '2001-12-31T10:00:00.000000000'
 '2001-12-31T11:00:00.000000000' '2001-12-31T12:00:00.000000000'
 '2001-12-31T13:00:00.000000000' '2001-12-31T14:00:00.000000000'
 '2001-12-31T15:00:00.000000000' '2001-12-31T16:00:00.000000000'
 '2001-12-31T17:00:00.000000000' '2001-12-31T18:00:00.000000000'
 '2001-12-31T19:00:00.000000000' '2001-12-31T20:00:00.000000000'
 '2001-12-31T21:00:00.000000000' '2001-12-31T22:00:00.000000000'
 '2001-12-31T23:00:00.000000000' '2002-01-01T00:00:00.000000000'] to ['2002-12-31T01:00:00.000000000' '2002-12-31T02:00:00.000000000'
 '2002-12-31T03:00:00.000000000' '2002-12-31T04:00:00.000000000'
 '2002-12-31T05:00:00.000000000' '2002-12-31T06:00:00.000000000'
 '2002-12-31T07:00:00.000000000' '2002-12-31T08:00:00.000000000'
 '2002-12-31T09:00:00.000000000' '2002-12-31T10:00:00.000000000'
 '2002-12-31T11:00:00.000000000' '2002-12-31T12:00:00.000000000'
 '2002-12-31T13:00:00.000000000' '2002-12-31T14:00:00.000000000'
 '2002-12-31T15:00:00.000000000' '2002-12-31T16:00:00.000000000'
 '2002-12-31T17:00:00.000000000' '2002-12-31T18:00:00.000000000'
 '2002-12-31T19:00:00.000000000' '2002-12-31T20:00:00.000000000'
 '2002-12-31T21:00:00.000000000' '2002-12-31T22:00:00.000000000'
 '2002-12-31T23:00:00.000000000' '2003-01-01T00:00:00.000000000'] (8784 points)

📊 Variable Details:
   tp:
      Shape: (366, 24, 3, 4)
      Dimensions: ('time', 'step', 'latitude', 'longitude')
      Units: m
      Description: Total precipitation
      Data range: 0.0 to 0.024416223168373108

==================================================
🚀 Creating multiple CSV formats...
========================================
📊 Converting to Long Format DataFrame...
✅ Created DataFrame with 105120 rows and 8 columns
📊 Columns: ['time', 'step', 'latitude', 'longitude', 'number', 'surface', 'valid_time', 'tp']
💾 Saving DataFrame to: 2002_london_era5_precipitation_long_format.csv
✅ Saved successfully! File size: 8.43 MB
📊 Long format sample:
          time   step  latitude     longitude  number  surface valid_time  \
276 2001-12-31 1 days      51.6 -2.000000e-01       0      0.0 2002-01-01
277 2001-12-31 1 days      51.6 -1.000000e-01       0      0.0 2002-01-01
278 2001-12-31 1 days      51.6  2.775558e-17       0      0.0 2002-01-01
279 2001-12-31 1 days      51.6  1.000000e-01       0      0.0 2002-01-01
280 2001-12-31 1 days      51.5 -2.000000e-01       0      0.0 2002-01-01

           tp
276  0.000002
277  0.000002
278  0.000002
279  0.000002
280  0.000002

📈 Converting to Time Series DataFrame (spatial aggregation: mean)...
   Aggregated 2 spatial dimensions using mean
✅ Created time series DataFrame with 8760 rows and 5 columns
💾 Saving DataFrame to: 2002_london_era5_precipitation_time_series.csv
✅ Saved successfully! File size: 0.46 MB
📈 Time series sample:
                      step  number  surface          valid_time        tp
time
2001-12-31 1 days 00:00:00       0      0.0 2002-01-01 00:00:00  0.000002
2002-01-01 0 days 01:00:00       0      0.0 2002-01-01 01:00:00  0.000000
2002-01-01 0 days 02:00:00       0      0.0 2002-01-01 02:00:00  0.000000
2002-01-01 0 days 03:00:00       0      0.0 2002-01-01 03:00:00  0.000000
2002-01-01 0 days 04:00:00       0      0.0 2002-01-01 04:00:00  0.000000

🗺️  Converting to Spatial DataFrame (time aggregation: mean)...
   Aggregated time dimension using mean
✅ Created spatial DataFrame with 288 rows and 6 columns
💾 Saving DataFrame to: 2002_london_era5_precipitation_spatial_average.csv
✅ Saved successfully! File size: 0.02 MB
🗺️  Spatial average sample:
             step  latitude     longitude  number  surface        tp
0 0 days 01:00:00      51.6 -2.000000e-01       0      0.0  0.000074
1 0 days 01:00:00      51.6 -1.000000e-01       0      0.0  0.000074
2 0 days 01:00:00      51.6  2.775558e-17       0      0.0  0.000073
3 0 days 01:00:00      51.6  1.000000e-01       0      0.0  0.000074
4 0 days 01:00:00      51.5 -2.000000e-01       0      0.0  0.000075


🎉 Processing complete! Created 3 files:
   📄 long_format: 2002_london_era5_precipitation_long_format.csv
   📄 time_series: 2002_london_era5_precipitation_time_series.csv
   📄 spatial_average: 2002_london_era5_precipitation_spatial_average.csv

💡 Returning long format DataFrame with 105120 rows
🌧️  Processing London Precipitation Data
==================================================
📦 Extracting ZIP file: ./grib/london_era5land_hourly_tp_2003.grib
📋 Files in archive: ['data.grib']
✅ Extracted to: grib
🎯 Found GRIB file: data.grib
📊 Loading GRIB file: grib\data.grib
🔄 Trying cfgrib...

c:\ProgramData\anaconda3\Lib\site-packages\cfgrib\xarray_plugin.py:131: FutureWarning: In a future version, xarray will not decode timedelta values based on the presence of a timedelta-like units attribute by default. Instead it will rely on the presence of a timedelta64 dtype attribute, which is now xarray's default way of encoding timedelta64 values. To continue decoding timedeltas based on the presence of a timedelta-like units attribute, users will need to explicitly opt-in by passing True or CFTimedeltaCoder(decode_via_units=True) to decode_timedelta. To silence this warning, set decode_timedelta to True, False, or a 'CFTimedeltaCoder' instance.
  vars, attrs, coord_names = xr.conventions.decode_cf_variables(
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:131: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"📏 Dataset dimensions: {dict(ds.dims)}")
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:260: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"📏 Dimensions: {dict(ds.dims)}")

✅ Success with cfgrib!
📏 Dataset dimensions: {'time': 366, 'step': 24, 'latitude': 3, 'longitude': 4}
📊 Variables: ['tp']

📈 Data Summary:
==============================
🗺️  Coordinates:
   number: 0
   time: 2002-12-31T00:00:00.000000000 to 2003-12-31T00:00:00.000000000 (366 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: 51.4 to 51.6 (3 points)
   longitude: -0.2 to 0.1 (4 points)
   valid_time: 2002-12-31T01:00:00.000000000 to 2004-01-01T00:00:00.000000000 (8784 points)

📊 Data Variables:
   tp: ('time', 'step', 'latitude', 'longitude') - Total precipitation
      Units: m

🎉 Success! Dataset loaded successfully.

To work with your data:
1. Use ds[variable_name] to access variables
2. Use ds.sel() or ds.isel() to select data
3. Use ds.plot() for quick visualizations
🌧️  Processing Your London Precipitation Data
==================================================
🔍 Dataset Structure Analysis
========================================
📏 Dimensions: {'time': 366, 'step': 24, 'latitude': 3, 'longitude': 4}
📊 Variables: ['tp']
🗺️  Coordinates: ['number', 'time', 'step', 'surface', 'latitude', 'longitude', 'valid_time']

📍 Coordinate Details:
   number: 0
   time: 2002-12-31T00:00:00.000000000 to 2003-12-31T00:00:00.000000000 (366 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: [51.6 51.5 51.4]
   longitude: [-2.00000000e-01 -1.00000000e-01  2.77555756e-17  1.00000000e-01]
   valid_time: ['2002-12-31T01:00:00.000000000' '2002-12-31T02:00:00.000000000'
 '2002-12-31T03:00:00.000000000' '2002-12-31T04:00:00.000000000'
 '2002-12-31T05:00:00.000000000' '2002-12-31T06:00:00.000000000'
 '2002-12-31T07:00:00.000000000' '2002-12-31T08:00:00.000000000'
 '2002-12-31T09:00:00.000000000' '2002-12-31T10:00:00.000000000'
 '2002-12-31T11:00:00.000000000' '2002-12-31T12:00:00.000000000'
 '2002-12-31T13:00:00.000000000' '2002-12-31T14:00:00.000000000'
 '2002-12-31T15:00:00.000000000' '2002-12-31T16:00:00.000000000'
 '2002-12-31T17:00:00.000000000' '2002-12-31T18:00:00.000000000'
 '2002-12-31T19:00:00.000000000' '2002-12-31T20:00:00.000000000'
 '2002-12-31T21:00:00.000000000' '2002-12-31T22:00:00.000000000'
 '2002-12-31T23:00:00.000000000' '2003-01-01T00:00:00.000000000'] to ['2003-12-31T01:00:00.000000000' '2003-12-31T02:00:00.000000000'
 '2003-12-31T03:00:00.000000000' '2003-12-31T04:00:00.000000000'
 '2003-12-31T05:00:00.000000000' '2003-12-31T06:00:00.000000000'
 '2003-12-31T07:00:00.000000000' '2003-12-31T08:00:00.000000000'
 '2003-12-31T09:00:00.000000000' '2003-12-31T10:00:00.000000000'
 '2003-12-31T11:00:00.000000000' '2003-12-31T12:00:00.000000000'
 '2003-12-31T13:00:00.000000000' '2003-12-31T14:00:00.000000000'
 '2003-12-31T15:00:00.000000000' '2003-12-31T16:00:00.000000000'
 '2003-12-31T17:00:00.000000000' '2003-12-31T18:00:00.000000000'
 '2003-12-31T19:00:00.000000000' '2003-12-31T20:00:00.000000000'
 '2003-12-31T21:00:00.000000000' '2003-12-31T22:00:00.000000000'
 '2003-12-31T23:00:00.000000000' '2004-01-01T00:00:00.000000000'] (8784 points)

📊 Variable Details:
   tp:
      Shape: (366, 24, 3, 4)
      Dimensions: ('time', 'step', 'latitude', 'longitude')
      Units: m
      Description: Total precipitation
      Data range: 0.0 to 0.02684009075164795

==================================================
🚀 Creating multiple CSV formats...
========================================
📊 Converting to Long Format DataFrame...
✅ Created DataFrame with 105120 rows and 8 columns
📊 Columns: ['time', 'step', 'latitude', 'longitude', 'number', 'surface', 'valid_time', 'tp']
💾 Saving DataFrame to: 2003_london_era5_precipitation_long_format.csv
✅ Saved successfully! File size: 8.36 MB
📊 Long format sample:
          time   step  latitude     longitude  number  surface valid_time  \
276 2002-12-31 1 days      51.6 -2.000000e-01       0      0.0 2003-01-01
277 2002-12-31 1 days      51.6 -1.000000e-01       0      0.0 2003-01-01
278 2002-12-31 1 days      51.6  2.775558e-17       0      0.0 2003-01-01
279 2002-12-31 1 days      51.6  1.000000e-01       0      0.0 2003-01-01
280 2002-12-31 1 days      51.5 -2.000000e-01       0      0.0 2003-01-01

           tp
276  0.000192
277  0.000204
278  0.000219
279  0.000298
280  0.000264

📈 Converting to Time Series DataFrame (spatial aggregation: mean)...
   Aggregated 2 spatial dimensions using mean
✅ Created time series DataFrame with 8760 rows and 5 columns
💾 Saving DataFrame to: 2003_london_era5_precipitation_time_series.csv
✅ Saved successfully! File size: 0.46 MB
📈 Time series sample:
                      step  number  surface          valid_time            tp
time
2002-12-31 1 days 00:00:00       0      0.0 2003-01-01 00:00:00  3.267085e-04
2003-01-01 0 days 01:00:00       0      0.0 2003-01-01 01:00:00  4.858400e-08
2003-01-01 0 days 02:00:00       0      0.0 2003-01-01 02:00:00  1.246827e-04
2003-01-01 0 days 03:00:00       0      0.0 2003-01-01 03:00:00  7.476170e-04
2003-01-01 0 days 04:00:00       0      0.0 2003-01-01 04:00:00  1.722502e-03

🗺️  Converting to Spatial DataFrame (time aggregation: mean)...
   Aggregated time dimension using mean
✅ Created spatial DataFrame with 288 rows and 6 columns
💾 Saving DataFrame to: 2003_london_era5_precipitation_spatial_average.csv
✅ Saved successfully! File size: 0.02 MB
🗺️  Spatial average sample:
             step  latitude     longitude  number  surface        tp
0 0 days 01:00:00      51.6 -2.000000e-01       0      0.0  0.000039
1 0 days 01:00:00      51.6 -1.000000e-01       0      0.0  0.000042
2 0 days 01:00:00      51.6  2.775558e-17       0      0.0  0.000045
3 0 days 01:00:00      51.6  1.000000e-01       0      0.0  0.000047
4 0 days 01:00:00      51.5 -2.000000e-01       0      0.0  0.000041


🎉 Processing complete! Created 3 files:
   📄 long_format: 2003_london_era5_precipitation_long_format.csv
   📄 time_series: 2003_london_era5_precipitation_time_series.csv
   📄 spatial_average: 2003_london_era5_precipitation_spatial_average.csv

💡 Returning long format DataFrame with 105120 rows
🌧️  Processing London Precipitation Data
==================================================
📦 Extracting ZIP file: ./grib/london_era5land_hourly_tp_2004.grib
📋 Files in archive: ['data.grib']
✅ Extracted to: grib
🎯 Found GRIB file: data.grib
📊 Loading GRIB file: grib\data.grib
🔄 Trying cfgrib...

c:\ProgramData\anaconda3\Lib\site-packages\cfgrib\xarray_plugin.py:131: FutureWarning: In a future version, xarray will not decode timedelta values based on the presence of a timedelta-like units attribute by default. Instead it will rely on the presence of a timedelta64 dtype attribute, which is now xarray's default way of encoding timedelta64 values. To continue decoding timedeltas based on the presence of a timedelta-like units attribute, users will need to explicitly opt-in by passing True or CFTimedeltaCoder(decode_via_units=True) to decode_timedelta. To silence this warning, set decode_timedelta to True, False, or a 'CFTimedeltaCoder' instance.
  vars, attrs, coord_names = xr.conventions.decode_cf_variables(
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:131: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"📏 Dataset dimensions: {dict(ds.dims)}")
c:\Users\pacor\Documents\Notebooks\Python\Data Analysis\Rainfall\notebooks\src\manage_grib_files.py:260: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(f"📏 Dimensions: {dict(ds.dims)}")

✅ Success with cfgrib!
📏 Dataset dimensions: {'time': 367, 'step': 24, 'latitude': 3, 'longitude': 4}
📊 Variables: ['tp']

📈 Data Summary:
==============================
🗺️  Coordinates:
   number: 0
   time: 2003-12-31T00:00:00.000000000 to 2004-12-31T00:00:00.000000000 (367 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: 51.4 to 51.6 (3 points)
   longitude: -0.2 to 0.1 (4 points)
   valid_time: 2003-12-31T01:00:00.000000000 to 2005-01-01T00:00:00.000000000 (8808 points)

📊 Data Variables:
   tp: ('time', 'step', 'latitude', 'longitude') - Total precipitation
      Units: m

🎉 Success! Dataset loaded successfully.

To work with your data:
1. Use ds[variable_name] to access variables
2. Use ds.sel() or ds.isel() to select data
3. Use ds.plot() for quick visualizations
🌧️  Processing Your London Precipitation Data
==================================================
🔍 Dataset Structure Analysis
========================================
📏 Dimensions: {'time': 367, 'step': 24, 'latitude': 3, 'longitude': 4}
📊 Variables: ['tp']
🗺️  Coordinates: ['number', 'time', 'step', 'surface', 'latitude', 'longitude', 'valid_time']

📍 Coordinate Details:
   number: 0
   time: 2003-12-31T00:00:00.000000000 to 2004-12-31T00:00:00.000000000 (367 points)
   step: 3600000000000 nanoseconds to 86400000000000 nanoseconds (24 points)
   surface: 0.0
   latitude: [51.6 51.5 51.4]
   longitude: [-2.00000000e-01 -1.00000000e-01  2.77555756e-17  1.00000000e-01]
   valid_time: ['2003-12-31T01:00:00.000000000' '2003-12-31T02:00:00.000000000'
 '2003-12-31T03:00:00.000000000' '2003-12-31T04:00:00.000000000'
 '2003-12-31T05:00:00.000000000' '2003-12-31T06:00:00.000000000'
 '2003-12-31T07:00:00.000000000' '2003-12-31T08:00:00.000000000'
 '2003-12-31T09:00:00.000000000' '2003-12-31T10:00:00.000000000'
 '2003-12-31T11:00:00.000000000' '2003-12-31T12:00:00.000000000'
 '2003-12-31T13:00:00.000000000' '2003-12-31T14:00:00.000000000'
 '2003-12-31T15:00:00.000000000' '2003-12-31T16:00:00.000000000'
 '2003-12-31T17:00:00.000000000' '2003-12-31T18:00:00.000000000'
 '2003-12-31T19:00:00.000000000' '2003-12-31T20:00:00.000000000'
 '2003-12-31T21:00:00.000000000' '2003-12-31T22:00:00.000000000'
 '2003-12-31T23:00:00.000000000' '2004-01-01T00:00:00.000000000'] to ['2004-12-31T01:00:00.000000000' '2004-12-31T02:00:00.000000000'
 '2004-12-31T03:00:00.000000000' '2004-12-31T04:00:00.000000000'
 '2004-12-31T05:00:00.000000000' '2004-12-31T06:00:00.000000000'
 '2004-12-31T07:00:00.000000000' '2004-12-31T08:00:00.000000000'
 '2004-12-31T09:00:00.000000000' '2004-12-31T10:00:00.000000000'
 '2004-12-31T11:00:00.000000000' '2004-12-31T12:00:00.000000000'
 '2004-12-31T13:00:00.000000000' '2004-12-31T14:00:00.000000000'
 '2004-12-31T15:00:00.000000000' '2004-12-31T16:00:00.000000000'
 '2004-12-31T17:00:00.000000000' '2004-12-31T18:00:00.000000000'
 '2004-12-31T19:00:00.000000000' '2004-12-31T20:00:00.000000000'
 '2004-12-31T21:00:00.000000000' '2004-12-31T22:00:00.000000000'
 '2004-12-31T23:00:00.000000000' '2005-01-01T00:00:00.000000000'] (8808 points)

📊 Variable Details:
   tp:
      Shape: (367, 24, 3, 4)
      Dimensions: ('time', 'step', 'latitude', 'longitude')
      Units: m
      Description: Total precipitation
      Data range: 0.0 to 0.037141475826501846

==================================================
🚀 Creating multiple CSV formats...
========================================
📊 Converting to Long Format DataFrame...
✅ Created DataFrame with 105408 rows and 8 columns
📊 Columns: ['time', 'step', 'latitude', 'longitude', 'number', 'surface', 'valid_time', 'tp']
💾 Saving DataFrame to: 2004_london_era5_precipitation_long_format.csv
✅ Saved successfully! File size: 8.45 MB
📊 Long format sample:
          time   step  latitude     longitude  number  surface valid_time  \
276 2003-12-31 1 days      51.6 -2.000000e-01       0      0.0 2004-01-01
277 2003-12-31 1 days      51.6 -1.000000e-01       0      0.0 2004-01-01
278 2003-12-31 1 days      51.6  2.775558e-17       0      0.0 2004-01-01
279 2003-12-31 1 days      51.6  1.000000e-01       0      0.0 2004-01-01
280 2003-12-31 1 days      51.5 -2.000000e-01       0      0.0 2004-01-01

           tp
276  0.000270
277  0.000219
278  0.000172
279  0.000142
280  0.000231

📈 Converting to Time Series DataFrame (spatial aggregation: mean)...
   Aggregated 2 spatial dimensions using mean
✅ Created time series DataFrame with 8784 rows and 5 columns
💾 Saving DataFrame to: 2004_london_era5_precipitation_time_series.csv
✅ Saved successfully! File size: 0.46 MB
📈 Time series sample:
                      step  number  surface          valid_time        tp
time
2003-12-31 1 days 00:00:00       0      0.0 2004-01-01 00:00:00  0.000173
2004-01-01 0 days 01:00:00       0      0.0 2004-01-01 01:00:00  0.000624
2004-01-01 0 days 02:00:00       0      0.0 2004-01-01 02:00:00  0.001771
2004-01-01 0 days 03:00:00       0      0.0 2004-01-01 03:00:00  0.003241
2004-01-01 0 days 04:00:00       0      0.0 2004-01-01 04:00:00  0.004545

🗺️  Converting to Spatial DataFrame (time aggregation: mean)...
   Aggregated time dimension using mean
✅ Created spatial DataFrame with 288 rows and 6 columns
💾 Saving DataFrame to: 2004_london_era5_precipitation_spatial_average.csv
✅ Saved successfully! File size: 0.02 MB
🗺️  Spatial average sample:
             step  latitude     longitude  number  surface        tp
0 0 days 01:00:00      51.6 -2.000000e-01       0      0.0  0.000041
1 0 days 01:00:00      51.6 -1.000000e-01       0      0.0  0.000041
2 0 days 01:00:00      51.6  2.775558e-17       0      0.0  0.000041
3 0 days 01:00:00      51.6  1.000000e-01       0      0.0  0.000042
4 0 days 01:00:00      51.5 -2.000000e-01       0      0.0  0.000041


🎉 Processing complete! Created 3 files:
   📄 long_format: 2004_london_era5_precipitation_long_format.csv
   📄 time_series: 2004_london_era5_precipitation_time_series.csv
   📄 spatial_average: 2004_london_era5_precipitation_spatial_average.csv

💡 Returning long format DataFrame with 105408 rows

In [ ]:
out_file = "./grib/london_era5land_hourly_tp_2014"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\n🎉 Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df = process_my_data(ds, "2014_puglia_era5_precipitation")

for filename in glob.glob("./grib/data*"):
    os.remove(filename)

In [ ]:
out_file = "./grib/london_era5land_hourly_tp_2014"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\n🎉 Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df = process_my_data(ds, "2014_puglia_era5_precipitation")

for filename in glob.glob("./grib/data*"):
    os.remove(filename)

In [ ]:
out_file = "./grib/puglia_era5land_hourly_tp_2014"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\n🎉 Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df = process_my_data(ds, "2014_puglia_era5_precipitation")

for filename in glob.glob("./grib/data*"):
    os.remove(filename)

In [ ]:
out_file = "./grib/puglia_era5land_hourly_tp_2013"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\n🎉 Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df = process_my_data(ds, "2013_puglia_era5_precipitation")

for filename in glob.glob("./grib/data*"):
    os.remove(filename)

In [ ]:
out_file = "./grib/puglia_era5land_hourly_tp_2012"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\n🎉 Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df = process_my_data(ds, "2012_puglia_era5_precipitation")

for filename in glob.glob("./grib/data*"):
    os.remove(filename)

In [ ]:
out_file = "./grib/puglia_era5land_hourly_tp_2011"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\n🎉 Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df = process_my_data(ds, "2011_puglia_era5_precipitation")

for filename in glob.glob("./grib/data*"):
    os.remove(filename)

In [ ]:
out_file = "./grib/puglia_era5land_hourly_tp_2010"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\n🎉 Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df = process_my_data(ds, "2010_puglia_era5_precipitation")

for filename in glob.glob("./grib/data*"):
    os.remove(filename)

In [ ]:
out_file = "london_era5land_hourly_tp_2014"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\n🎉 Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df = process_my_data(ds, "2014_london_era5_precipitation")

print(df.shape)
print(df.head())
print(df.tail)

In [ ]:
out_file = "london_era5land_hourly_tp_2013"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\n🎉 Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df = process_my_data(ds, "2013_london_era5_precipitation")

print(df.shape)
print(df.head())
print(df.tail)

In [ ]:
out_file = "london_era5land_hourly_tp_2012"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\n🎉 Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df = process_my_data(ds, "2012_london_era5_precipitation")

print(df.shape)
print(df.head())
print(df.tail)

In [ ]:
out_file = "london_era5land_hourly_tp_2011"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\n🎉 Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df = process_my_data(ds, "2011_london_era5_precipitation")

print(df.shape)
print(df.head())
print(df.tail)

In [ ]:
out_file = "london_era5land_hourly_tp_2010"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\n🎉 Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df = process_my_data(ds, "2010_london_era5_precipitation")

print(df.shape)
print(df.head())
print(df.tail)

In [ ]:
df.tail()

In [ ]:
# puglia_era5land_hourly_tp_2021

out_file = "puglia_era5land_hourly_tp_2021"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\n🎉 Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df_2021 = process_my_data(ds, "2021_puglia_era5_precipitation")

In [ ]:
out_file = "puglia_era5land_hourly_tp_2022"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\n🎉 Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df_2022 = process_my_data(ds, "2022_puglia_era5_precipitation")

In [ ]:
out_file = "puglia_era5land_hourly_tp_2023"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\n🎉 Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df_2023 = process_my_data(ds, "2023_puglia_era5_precipitation")

In [ ]:
# london_era5land_hourly_tp_2020

out_file = "london_era5land_hourly_tp_2020"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\n🎉 Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df_2021 = process_my_data(ds, "2020_london_era5_precipitation")

In [ ]:
df_2021.tail()

In [ ]:
out_file = "puglia_era5land_hourly_tp_2025"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\n🎉 Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df_2021 = process_my_data(ds, "2025_puglia_era5_precipitation")

In [ ]:
out_file = "london_era5land_hourly_tp_2021"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\n🎉 Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df_2021 = process_my_data(ds, "2021_london_era5_precipitation")

In [ ]:
df_2021.head()

In [ ]:
df_2021.tail()

In [ ]:
out_file = "london_era5land_hourly_tp_2022"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\n🎉 Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df_2022 = process_my_data(ds, "2022_london_era5_precipitation")

In [ ]:
df_2022.shape

In [ ]:
df_2022.tail()

In [ ]:
out_file = "london_era5land_hourly_tp_2025"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\n🎉 Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df_2025 = process_my_data(ds, "2025_london_era5_precipitation")

In [ ]:
df_2025 = pd.read_csv('./data/2025_london_era5_precipitation_time_series.csv', comment='#')
df_2025.head()

In [ ]:
df_2025.dtypes

In [ ]:
out_file = "london_era5land_hourly_tp_2024"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\n🎉 Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df_2024 = process_my_data(ds, "2024_london_era5_precipitation")

In [ ]:
out_file = "london_era5land_hourly_tp_2023"
grib_file = out_file + '.grib'

ds = process_london_precipitation_data(grib_file)
    
if ds is not None:
    print("\n🎉 Success! Dataset loaded successfully.")
    print("\nTo work with your data:")
    print("1. Use ds[variable_name] to access variables")
    print("2. Use ds.sel() or ds.isel() to select data")
    print("3. Use ds.plot() for quick visualizations")

df_2024 = process_my_data(ds, "2023_london_era5_precipitation")

In [ ]:
df_2024.shape