In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

# Rainfall Monthly and Seasonal Analysis

In this notebook we will perform monthly and seasonal total precipitation analysis and exploring:
1. how total precipitation is characterised during the different months of the year and how they compare between London area and Apulia
2. with respect to season, which are the ones where it rains more and which less
3. is there any change in the last 50 years - that's for London area only.

As for point 1. and 2., we will compare how it does change between London and Apulia area, while for point 3., we will refer to London are only for the moment

In [15]:
london_daily_data = pd.read_pickle('../streamlit/data/london_tp_daily_data.pkl')
london_daily_data.shape

(9665, 18)

In [16]:
london_daily_data.dtypes

date                  datetime64[ns]
year                           int32
month                         object
day                            int32
tp_daily_sum                 float64
tp_daily_mean                float64
tp_daily_std                 float64
tp_daily_median              float64
tp_daily_max                 float64
tp_daily_min                 float64
tp_mm_daily_sum              float64
tp_mm_daily_mean             float64
tp_mm_daily_std              float64
tp_mm_daily_median           float64
tp_mm_daily_min              float64
tp_mm_daily_max              float64
month_int                      int32
rainy_day                      int64
dtype: object

In [17]:
(london_daily_data['date'].max() - london_daily_data['date'].min()).days

9664

In [ ]:
)